@font-face {
    font-family: 'PHI';
    src: url("../common/font/phi.ttf") format('woff'), url("../common/font/phi.ttf") format('truetype');
}

@font-face {
    font-family: 'HIMALAYA';
    src: url("../common/font/HIMALAYA.TTF") format('woff'), url("./font/HIMALAYA.TTF") format('truetype');
}


body {
    height: 1080px;
    width: 2048px;
    margin: 0;
}

body p {
    color: white;
    font-family: 'PHI', 'HIMALAYA';
    writing-mode: horizontal-tb;
}


.background {
    display: flex;
    height: 1080px;
    width: 2048px;
    margin-bottom: -1080px;
    overflow: hidden;
    z-index: 0;
}

.background img {
    width: 100%;
    position: relative;
    overflow: hidden;
    transform: scale(1.2);
    filter: blur(40px);
    z-index: 0;
}

.playerbox {
    width: 100%;
    height: 0;
    z-index: 1;
    display: flex;
    position: sticky;
    justify-content: flex-end;
    flex-direction: row;
    align-items: flex-start;
}

.player {
    display: flex;
    width: 100%;
    height: 100px;
    margin-top: 30px;
    align-items: center;
    justify-content: flex-end;
}

.avatar {
    display: flex;
    width: 250px;
    height: 250px;
    z-index: 2;
    clip-path: polygon(100% 24%, 85% 76%, 0 76%, 15% 24%);
    justify-content: center;
    align-items: center;
}

.avatar img {
    width: 100%;
    height: 100%;
}

.playerid {
    display: flex;
    height: 100%;
    align-items: center;
    background-color: #0000007a;
    padding-right: 100px;
    margin-right: -90px;
    justify-content: flex-end;
    padding-left: 20px;
}

.playerid p {
    font-size: 40px;
}

.playerid-right {
    width: 30px;
    height: 100%;
    background-color: #0000007a;
    clip-path: polygon(100% 0%, 100% 100%, 0 100%);
}

.player-info {
    width: 40px;
    height: 100%;
    padding-left: 100;
    margin-left: -80;
    padding-right: 30;
    background-color: #0000007a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Challenge {
    width: 80px;
    height: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20;
}

.Challenge p {
    font-size: 30px;
    text-shadow: 0 0 20px #ffffff;
}

.Challenge img {
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-left: 0;
    border-radius: 0px;
    margin-bottom: -80px;
}

.player-rks {
    width: 100px;
    height: 30px;
    background-color: #fff;
    display: flex;
    align-items: center;
    margin-left: -100;
    padding-left: 80;
    clip-path: polygon(100% 0%, 94% 100%, 0 100%, 0% 0%);
    justify-content: center;
}

.player-rks p {
    font-size: 25px;
    color: #000;
    margin-right: 15;
}

.big-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.box {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1;
    flex-direction: row;
}

.box p {
    margin: 0;
    flex-direction: column;
}

.song {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
}

.ill-box {
    display: flex;
    height: 45%;
    filter: drop-shadow(0px 0px 30px #000);
    z-index: 2;
    margin-left: 2.8%;
}

.ill-box img {
    height: 100%;
    clip-path: polygon(100% 0, 86.9% 100%, 0 100%, 13.1% 0);
    z-index: 2;
}

.score-box {
    width: 45%;
    height: 45%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: space-between;
}

.box-up,
.box-down {
    width: 100%;
    height: 50%;
    display: flex;
}

.box-down {
    margin-left: -7%;
    align-items: flex-end;
}

.rank-AT,
.rank-IN,
.rank-HD,
.rank-EZ {
    clip-path: polygon(100% 0, 86.9% 100%, 0 100%, 13.1% 0);
    width: 37.5%;
    height: 90%;
    padding-left: 7.5%;
    filter: drop-shadow(2px 4px 6px black);
    display: flex;
    flex-direction: row;
    align-items: center;
    writing-mode: vertical-lr;
}

.rank-AT {
    background-color: #d5d5d5ad;
}

.rank-IN {
    background-color: #ff0000ad;
}

.rank-HD {
    background-color: #00B0F0ad;
}

.rank-EZ {
    background-color: #92D050ad;
}

.pingji {
    height: 100%;
    width: 100%;
    margin-bottom: -100%;
    margin-left: -33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pingji p {
    font-size: 60px;
    text-shadow: 0 0 20px #ffffff;
}

.pingji img {
    height: 200px;
    filter: blur(5px);
}

.rank {
    width: 100%;
    height: 0;
    transform: skew(-13deg);
    display: flex;
    align-items: flex-start;
    z-index: 1;
    writing-mode: horizontal-tb;
}

.info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    writing-mode: horizontal-tb;
}

.rank p {
    font-size: 75px;
    color: rgba(255, 255, 255, 0.2);
    margin-top: -5%;
}

.score,
.acc,
.rks {
    text-shadow: 1px 1px 5px #84979bd0;
}

.score {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -7%;
    margin-bottom: 5%;
}

.score p {
    font-size: 60px;
}

.acc-box {
    width: 90%;
    height: 30%;
    display: flex;
    flex-direction: row;
    margin-left: -23%;
    align-items: center;
    justify-content: space-around;
}

.acc {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rek-acc {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.rks {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.suggest {
    width: 90%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: -35%;
}

.suggest p {
    font-size: 25px;
    color: #92D050;
    text-shadow:
        0 0 3px rgba(63, 63, 63, 0.8);
}

.acc p {
    font-size: 50px;
}

.rks p {
    font-size: 35px;
    color: rgb(255, 255, 0);
}

.line {
    width: 85%;
    border-bottom: 3px #fff solid;
    margin-left: -20%;
    filter: drop-shadow(0 0 5px #fff);
}


.leave {
    width: 2040;
    margin-top: -10%;
    height: 0;
    display: flex;
    align-items: center;
    margin-left: 2.5%;
}

.leave-box {
    z-index: 4;
    display: flex;
    filter: drop-shadow(0px 0px 30px #000);
    margin-left: 5%;
}

.leave-box p {
    color: white;
    font-size: 35px;
    margin: 0;
}

.leave-at,
.leave-in,
.leave-hd,
.leave-ez {
    display: flex;
    width: 120px;
    height: 75px;
    clip-path: polygon(100% 0, 86% 100%, 0 100%, 14% 0);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 20px;
}

.leave-ez {
    background-color: #92D050;
}

.leave-hd {
    background-color: #00B0F0;
}

.leave-in {
    background-color: #FF0000;
}

.leave-at {
    background-color: #A6A6A6;
}

.createdbox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.created {
    height: 50px;
    width: 1000px;
    display: flex;
    background-color: rgba(0, 183, 240, 0.3);
    border-left: 6px solid;
    border-right: 6px solid;
    border-color: rgb(0, 183, 240);
    z-index: 1;
    position: relative;
    justify-content: center;
    align-items: center;
}

.created p {
    color: white;
    font-size: 24px;
}