{{extend defaultLayout}}
{{block 'css'}}
<link rel="stylesheet" href="{{_res_path}}html/atlas/atlas.css">

{{/block}}

{{block 'main'}}

    <div class="background" style="background: url({{illustration}}) no-repeat; background-size: cover;">
        <img src="{{illustration}}" alt="曲绘-模糊">
    </div>
    <div class="big-box">
        <div class="box">
            <div class="info-box">
                <div class="name-box">
                    <div class="song">
                        <p name="pvis">{{song}}</p>
                        <!-- <p style="font-size: 45px;">{{song}}</p> -->
                    </div>
                    <div class="composer">
                        <p name="pvis">{{composer}}</p>
                    </div>
                </div>
                <div class="charts-box">
                    <div class="length">
                        <p name="pvis">{{length}}</p>
                    </div>
                    <div class="txt">
                        <div class="sqrt">
                            <p>SONG'S_INFO</p>
                        </div>
                        <div class="line">
                            {{if spinfo}}
                            <p name="pvis">{{#spinfo.replace(/\n/g,'<br\>')}}</p>
                            {{/if}}
                        </div>
                    </div>
                    <div class="chart">
                        <div class="rankbkg">
                            <div class="sqr"></div>
                            {{each chart}}
                            <div class="sqr rank-{{$index}}" style="background-color: rgba({{$value.rgba}});"></div>
                            {{/each}}
                        </div>
                        <div class="rank">
                            <p>\</p>
                            {{each chart}}
                            <p>{{$index}}</p>
                            {{/each}}
                        </div>
                        <div class="note-box">
                            <p>Difficulty</p>
                            {{each chart}}
                            <p>{{$value.difficulty}}</p>
                            {{/each}}
                        </div>
                        <div class="rank-box">
                            <div class="charter">
                                <p>Charter</p>
                            </div>
                            <div class="chart-info"> 
                                <p>Tap</p>
                                <p>Drag</p>
                                <p>Hold</p>
                                <p>Flicke</p>
                            </div>
                            {{each chart}}
                            <div class="charter">
                                <p name="pvis">{{$value.charter}}</p>
                            </div>
                            <div class="chart-info">
                                <p>{{$value.tap}}</p>
                                <p>{{$value.drag}}</p>
                                <p>{{$value.hold}}</p>
                                <p>{{$value.flicke}}</p>
                            </div>
                            {{/each}}
                        </div>
                        <div class="note-box">
                            <p>Total</p>
                            {{each chart}}
                            <p>{{$value.combo}}</p>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="ill-box">
                <img src="{{illustration}}" alt="曲绘">
            </div>
        </div>
        <div class="other-info">
            <div class="other-box">
                <div class="title">
                    <p>BPM</p>
                </div>
                <div class="dcr">
                    <p>{{bpm}}</p>
                </div>
            </div>
            <div class="other-box">
                <div class="title">
                    <p>Illustrator</p>
                </div>
                <div class="dcr">
                    <p>{{illustrator}}</p>
                </div>
            </div>
            <div class="other-box">
                <div class="title">
                    <p>Chapter</p>
                </div>
                <div class="dcr">
                    <p>{{chapter}}</p>
                </div>
            </div>
        </div>
        <div class="leave">
            <div class="leave-box">
                {{each chart}}

                {{if $index == 'EZ'}}
                <div class="leave-ez">
                {{else if $index == 'HD'}}
                <div class="leave-hd">
                {{else if $index == 'IN'}}
                <div class="leave-in">
                {{else if $index == 'AT'}}
                <div class="leave-at">
                {{else if $index == 'SP'}}
                <div class="leave-sp">
                {{else}}
                <div class="leave-sp" style="background-color: rgba({{$value.rgba}});">
                {{/if}}
                <div class="ldif">
                    <p name="pvis">{{$value.difficulty}}</p>
                </div>
                <div class="lrank">
                    <p name="pvis">{{$index}}</p>
                </div>
                </div>

            {{/each}}
        </div>
    </div>
</div>
<div class="createdbox">
    <div class="phi-plugin">
        <p>{{_plugin}}</p>
    </div>
    <div class="ver">
        <p>{{Version.ver}}</p>
    </div>
</div>
<div class="snow-box"> </div>

{{/block}}