{{block 'css'}}

<head>
    <link rel="stylesheet" href="{{_res_path}}/b19/b19.css">
</head>
{{/block}}

<body style="scale: {{b19size}};">
    <div class="background">
        {{if background}}
        <img src="{{background}}" alt="曲绘-模糊">
        {{else}}
        <img src="{{_res_path}}otherimg/phigros.png" alt="曲绘-模糊">
        {{/if}}
    </div>
    <div class="tatle">
        <div class="l">
            <img src="{{_res_path}}otherimg/Phigros_Icon_3.0.0.png" alt="icon">
            <div class="doc">
                <p>Phigros</p>
                <p>RankingScore查询</p>
            </div>
        </div>
        <div class="m"></div>
        <div class="r">
            <p>Player: {{PlayerId}}</p>
            <p>RankingScore: {{Rks}}</p>
            <div class="Challenge">
                <p>ChallengeMode:</p>
                <div class="Challenge-r">
                    <img src="{{_res_path}}otherimg/{{ChallengeMode}}.png" alt="Challenge">
                    <p>{{ChallengeModeRank}}</p>
                </div>
            </div>
            {{if data}}
            <p>Data: {{data}}</p>
            {{/if}}
            <p>Date: {{Date}}</p>
        </div>
    </div>
    <div class="b19">
        <div class="L">
            <!-- phi -->

            {{if phi.song}}

            <div class="song">
                <div class="ill-box">
                    <div class="num">
                        <p>Phi</p>
                    </div>
                    <div class="ill">
                        <img src="{{phi.illustration}}" alt="ill">
                    </div>
                    <div class="rank-{{phi.rank}}">
                        <div class="org">
                            <p>{{phi.rank}}&ensp;{{phi.difficulty}}</p>
                        </div>
                        <div class="rel">
                            <p>{{phi.rks}}</p>
                        </div>
                    </div>
                </div>
                <div class="info-{{phi.rank}}">
                    <div class="songname">
                        <p style="font-size: {{phi.size}}px;">{{phi.song}}</p>
                    </div>
                    <div class="songinfo">
                        <div class="Rating">
                            <img src="{{_res_path}}otherimg/{{phi.Rating}}.png" alt="Rating">
                        </div>
                        <div class="chengji">
                            <div class="score">
                                <p>{{phi.score}}</p>
                            </div>
                            <div class="line"></div>
                            <div class="acc-box">
                                <div class="acc">
                                    <p>{{phi.acc}}%</p>
                                </div>
                                <div class="suggest">
                                    <p>>> {{phi.suggest}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {{else}}

            <div class="Nosignal">
                <div class="border_corner border_corner_left_top"></div>
                <div class="border_corner border_corner_right_top"></div>
                <div class="border_corner border_corner_left_bottom"></div>
                <div class="border_corner border_corner_right_bottom"></div>
                <div class="line"></div>
                <div class="timeout">
                    <p>TIME_OUT</p>
                </div>
                <div class="client">
                    <p>>>> PhigrOS Client Finding Phi.score</p>
                </div>
                <div class="sqrt">
                    <p>////////////////////////////////////////////</p>
                </div>
            </div>

            {{/if}}


            {{each b19_list song}}

            {{if song.num % 2 == 0}}
            <div class="song">
                <div class="ill-box">
                    <div class="num">
                        <p>#{{song.num}}</p>
                    </div>
                    <div class="ill">
                        <img src="{{song.illustration}}" alt="ill">
                    </div>
                    <div class="rank-{{song.rank}}">
                        <div class="org">
                            <p>{{song.rank}}&ensp;{{song.difficulty}}</p>
                        </div>
                        <div class="rel">
                            <p>{{song.rks}}</p>
                        </div>
                    </div>
                </div>
                <div class="info-{{song.rank}}">
                    <div class="songname">
                        <p style="font-size: {{song.size}}px;">{{song.song}}</p>
                    </div>
                    <div class="songinfo">
                        <div class="Rating">
                            <img src="{{_res_path}}otherimg/{{song.Rating}}.png" alt="Rating">
                        </div>
                        <div class="chengji">
                            <div class="score">
                                <p>{{song.score}}</p>
                            </div>
                            <div class="line"></div>
                            <div class="acc-box">
                                <div class="acc">
                                    <p>{{song.acc}}%</p>
                                </div>
                                <div class="suggest">
                                    <p>>> {{song.suggest}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/if}}

            {{/each}}




        </div>
        <div class="R">

            {{each b19_list song}}

            {{if song.num % 2 == 1}}
            <div class="song">
                <div class="ill-box">
                    <div class="num">
                        <p>#{{song.num}}</p>
                    </div>
                    <div class="ill">
                        <img src="{{song.illustration}}" alt="ill">
                    </div>
                    <div class="rank-{{song.rank}}">
                        <div class="org">
                            <p>{{song.rank}}&ensp;{{song.difficulty}}</p>
                        </div>
                        <div class="rel">
                            <p>{{song.rks}}</p>
                        </div>
                    </div>
                </div>
                <div class="info-{{song.rank}}">
                    <div class="songname">
                        <p style="font-size: {{song.size}}px;">{{song.song}}</p>
                    </div>
                    <div class="songinfo">
                        <div class="Rating">
                            <img src="{{_res_path}}otherimg/{{song.Rating}}.png" alt="Rating">
                        </div>
                        <div class="chengji">
                            <div class="score">
                                <p>{{song.score}}</p>
                            </div>
                            <div class="line"></div>
                            <div class="acc-box">
                                <div class="acc">
                                    <p>{{song.acc}}%</p>
                                </div>
                                <div class="suggest">
                                    <p>>> {{song.suggest}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/if}}

            {{/each}}
        </div>
    </div>
    <div class="createdbox">
        <div class="phi-plugin">
            <p>Phi-Plugin</p>
        </div>
        <div class="ver">
            <p>{{Version.ver}}</p>
        </div>
    </div>
</body>
