<head>
    <link rel="stylesheet" href="{{_res_path}}update/update.css">
</head>

<body style="scale: {{size}};">
    <div class="background">
        {{if background}}
        <img src="{{background}}" alt="曲绘-模糊">
        {{else}}
        <img src="{{_res_path}}otherimg/phigros.png" alt="曲绘-模糊">
        {{/if}}
    </div>
    <div class="tatle">
        <div class="l">
            <img src="{{_res_path}}/otherimg/Phigros_Icon_3.0.0.png" alt="icon">
            <div class="doc">
                <p>{{update_ans}}</p>
                <p>Update 结果</p>
            </div>
        </div>
        <div class="m"></div>
        <div class="r">
            <p>Player: {{PlayerId}}</p>
            <p>RankingScore: {{Rks}}</p>
            <div class="Challenge">
                <p>ChallengeMode:</p>
                <div class="Challenge-r">
                    <img src="{{_res_path}}otherimg/{{ChallengeMode}}.png" alt="{{ChallengeMode}}">
                    <p>{{ChallengeModeRank}}</p>
                </div>
            </div>
            <p>Notes: {{Notes}}</p>
        </div>
    </div>
    {{if time_line[0]}}
    <div class="box">
        {{set cnt = 0}}
        {{each time_line date}}
        <div class="box_title">
            <div class="box_title-left">
                <p>{{date}}</p>
            </div>
        </div>
        {{each update[date] song}}
        <div class="abox">
            <div class="imgbox">
                <img src="{{song.illustration}}" alt="{{song.song}}">
            </div>
            <div class="infobox">
                <div class="namebox">
                    {{if song.Rating}}
                    <div class="new-box">
                        <img src="{{_res_path}}otherimg/{{song.Rating}}.png" alt="{{song.Rating}}">
                    </div>
                    {{/if}}
                    <div class="songsname">
                        <p id="{{cnt++}}">{{song.song}}</p>
                    </div>
                </div>
                <div class="songsinfo">
                    <p>{{song.rank}}&ensp;&ensp;&ensp;&ensp;{{if song.score_old}}{{song.score_old}} >>
                        {{/if}}{{song.score_new}}</p>
                    <p>{{if song.acc_old}}{{song.acc_old.toFixed(2)}}% >> {{/if}}{{song.acc_new.toFixed(2)}}%
                        {{if song.rks_new}}
                        &ensp;&ensp;{{if song.rks_old}}{{song.rks_old.toFixed(2)}} >> {{/if}}{{song.rks_new.toFixed(2)}}
                        {{/if}}
                    </p>
                </div>
            </div>
        </div>
        {{/each}}
        {{/each}}
    </div>
    {{else}}
    <div class="Nosignal">
        <div class="border_corner border_corner_left_top"></div>
        <div class="border_corner border_corner_right_top"></div>
        <div class="border_corner border_corner_left_bottom"></div>
        <div class="border_corner border_corner_right_bottom"></div>
        <div class="line"></div>
        <div class="timeout">
            <p>NOT_FOUND</p>
        </div>
        <div class="client">
            <p>>>> PhigrOS Client Finding NewScore</p>
        </div>
        <div class="sqrt"></div>
    </div>
    {{/if}}
    <div class="createdbox">
        <div class="phi-plugin">
            <p>Phi-Plugin</p>
        </div>
        <div class="ver">
            <p>{{Version.ver}}</p>
        </div>
    </div>
    {{if tips}}
    <div class="tips">
        <p>Tip:{{tips}}</p>
    </div>
    {{/if}}

    <!-- 曲目名称自适应name-box的宽度 -->
    <script>
        function adjustFontSize() {
            for (let i = 0; i <= {{ show }}; ++i) {

            //获取song-name和composer滴元素
            var songName = document.getElementById(`${i}`)

            if (!songName) continue

            console.info(i)


            /*调整曲目名称字体大小*/
            var parentElement = songName.parentElement

            var maxFontSize = 30 //设置最大字体大小

            //如果字体宽度小于父元素宽度，则增大字体大小
            while (songName.scrollWidth < parentElement.offsetWidth && songName.scrollHeight < parentElement.offsetHeight) {
                var style = window.getComputedStyle(songName, null).getPropertyValue('font-size')
                var fontSize = parseFloat(style)

                //检查是否已经达到最大字体大小
                if (fontSize >= maxFontSize) {
                    break
                }

                songName.style.fontSize = (fontSize + 1) + "px"
            }

            // 如果字体宽度大于父元素宽度，则减小字体大小
            while (songName.scrollWidth > parentElement.offsetWidth || songName.scrollHeight > parentElement.offsetHeight) {
                var style = window.getComputedStyle(songName, null).getPropertyValue('font-size')
                var fontSize = parseFloat(style);
                songName.style.fontSize = (fontSize - 1) + "px";
            }
        }
        }
        window.onload = adjustFontSize
        window.onresize = adjustFontSize
    </script>
</body>