@import "../common/common.css";

body {
    writing-mode: vertical-lr;
    flex-direction: row;
    display: flex;
    width: 1800px;
    height: fit-content;
    font-family: 'PHI', 'HIMALAYA', '吞弥恰俊';
}

body p {
    color: white;
    margin: 0px;
    margin-block: 0;
    margin-inline: 0;
}

.background {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    margin-bottom: -100%;
    overflow: hidden;
    z-index: 0;
    justify-content: center;
    align-items: center;
}

.background img {
    position: absolute;
    overflow: hidden;
    height: 110%;
    filter: blur(40px) brightness(75%);
    z-index: 0;
}

.tatle {
    width: 100%;
    margin-top: 100px;
    height: 350px;
    display: flex;
    z-index: 1;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 100px;
}

.tatle img {
    height: 246px;
    margin-left: 4%;
    margin-right: 4%;
    border-radius: 58px;
}

.l,
.r {
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
}

.l {
    width: 60%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    writing-mode: horizontal-tb;
    clip-path: polygon(100% 0%, 90% 100%, 0% 100%, 0px 0px);
    display: flex;
    flex-direction: row;
    margin-right: -35%;
    align-items: center;
}

.l .doc p {
    font-size: 70;
    margin: 10;
}

.m {
    background-color: white;
    clip-path: polygon(100% 0%, 5% 100%, 0% 100%, 95% 0px);
    height: 100%;
    width: 6.2%;
    z-index: 2;
    margin: 0;
}

.r {
    background-color: rgba(0, 0, 0, 0.5);
    clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 11% 0px);
    height: 90%;
    width: 45.5%;
    display: flex;
    flex-direction: column;
    writing-mode: horizontal-tb;
    justify-content: center;
    margin-left: -33%;
}

.r p {
    font-size: 40;
    margin-left: 15%;
    height: 55;
}

.r .Challenge {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.r .Challenge-r {
    width: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2%;
    margin-left: 3%;
}

.r .Challenge-r img {
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-left: 0;
    border-radius: 0px;
    margin-bottom: -60px;
}

.r .Challenge-r p {
    margin: 0;
}

.box {
    writing-mode: horizontal-tb;
    display: flex;
    z-index: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.abox {
    width: 540px;
    height: 284.77px;
    display: flex;
    filter: drop-shadow(0px 0px 5px black);
    flex-direction: column;
    margin-bottom: 5%;
    align-items: flex-start;
}


.imgbox {
    width: 100%;
    height: 100%;
    clip-path: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    overflow: hidden;
}

.imgbox img {
    width: 100%;
}

.infobox {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
}

.coinbox {
    height: 0;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.coinbox p {
    font-size: 25px;
    filter: drop-shadow(0px 0px 5px #000000aa);
    color: #ffef00;
}

.namebox {
    background: linear-gradient(#000000aa 25%, #ffffff00);
}

.namebox_ed {
    background: linear-gradient(#ffd900c0 25%, #ffffff00);
}

.namebox_un {
    background: linear-gradient(#ff0000c0 25%, #ffffff00);
}

.namebox,
.namebox_ed,
.namebox_un {
    display: flex;
    width: 100%;
    height: 15%;
}

.songsname {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.songsname p {
    font-size: 23.5px;
    filter: drop-shadow(0px 0px 5px #000000aa);
    text-align: center;
}

.new-box {
    width: 16%;
    height: 100%;
    display: flex;
    z-index: 1;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 04px 5px black);
}

.new-box img {
    height: 140%;
}

.songsinfo {
    background: linear-gradient(#ffffff00, #000000aa 75%);
}

.songsinfo_ed {
    background: linear-gradient(#ffffff00, #ffd900c0 75%);
}

.songsinfo_un {
    background: linear-gradient(#ffffff00, #ff0000c0 75%);
}

.songsinfo,
.songsinfo_ed,
.songsinfo_un {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}

.songsinfo,
.songsinfo_ed,
.songsinfo_un p {
    font-size: 27px;
    height: 35%;
    display: flex;
    align-items: center;
    filter: drop-shadow(0px 0px 5px #000000aa);
}


.Nosignal {
    width: 87%;
    height: 243px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: rgba(112, 112, 112, 0.4);
    margin-bottom: 5%;
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
}

.border_corner {
    z-index: 2500;
    position: absolute;
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0);
    border: 6px solid #ffffff;
}

.border_corner_left_top {
    top: 5px;
    left: 5px;
    border-right: none;
    border-bottom: none;
    border-top-left-radius: 4px;
}

.border_corner_right_top {
    top: 5px;
    right: 5px;
    border-left: none;
    border-bottom: none;
    border-top-right-radius: 4px;
}

.border_corner_left_bottom {
    bottom: 5px;
    left: 5px;
    border-right: none;
    border-top: none;
    border-bottom-left-radius: 4px;
}

.border_corner_right_bottom {
    bottom: 5px;
    right: 5px;
    border-left: none;
    border-top: none;
    border-bottom-right-radius: 4px;
}

.Nosignal .border_corner,
.Nosignal .line,
.Nosignal .sqrt {
    filter: drop-shadow(0 0 5px #fff);
}

.Nosignal .timeout,
.Nosignal .client {
    width: 90%;
    margin-top: -0.5%;
    margin-bottom: -0.5%;
    z-index: 5;
}

.Nosignal .timeout p {
    text-shadow:
        0 0 1px #d8f9ffab,
        1px 0 2px #d8f9ffab,
        -1px 0 2px #d8f9ffab,
        1px 0 5px #d8f9ffab,
        -1px 0 10px #d8f9ffab;
    margin-left: 5%;
    font-size: 75px;
    color: white;
}

.Nosignal .client p {
    text-shadow:
        0 0 1px #8eeeff,
        1px 0 2px #8eeeff,
        -1px 0 2px #8eeeff,
        1px 0 5px #8eeeff88,
        -1px 0 10px #8eeeff88;
    margin-left: 5%;
    font-size: 25px;
    color: #00B0F0;
}

.Nosignal .line {
    width: 20%;
    margin: 0;
    border-bottom: 5px solid;
    border-color: white;
    margin-left: 5%;
}

.Nosignal .sqrt {
    width: 89%;
    height: 20%;
    border: 3px solid;
    border-color: white;
    background-color: rgb(255 255 255 / 58%);
    margin-left: 5%;
    margin-top: 16;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Nosignal .sqrt p {
    color: white;
    font-size: 40px;
    filter: blur(3px);
}

.createdbox {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 100px;
    margin-bottom: 100px;
    writing-mode: horizontal-tb;
    justify-content: center;
}

.createdbox p {
    color: white;
    font-size: 70px;
    font-family: 'Aldrich', 'PHI';
}

.phi-plugin {
    display: flex;
    z-index: 1;
    justify-content: center;
    align-items: center;
}

.ver {
    display: flex;
    z-index: 1;
}

.phi-plugin p {
    font-size: 80px;
    text-shadow: 0 0 20px rgb(0 186 255);
}

.ver p {
    font-size: 40px;
    text-shadow: 0 0 20px #fff700;
}
