<head>
    <link rel="stylesheet" href="{{_res_path}}update/update.css">
</head>

<body style="scale: {{size}};">
    <div class="background">
        {{if background}}
        <img src="{{background}}" alt="曲绘-模糊">
        {{else}}
        <img src="{{_res_path}}otherimg/phigros.png" alt="曲绘-模糊">
        {{/if}}
    </div>
    <div class="tatle">
        <div class="l">
            <img src="{{_res_path}}/otherimg/Phigros_Icon_3.0.0.png" alt="icon">
            <div class="doc">
                <p>{{update_ans}}</p>
                <p>Update 结果</p>
            </div>
        </div>
        <div class="m"></div>
        <div class="r">
            <p>Player: {{PlayerId}}</p>
            <p>RankingScore: {{Rks}}</p>
            <div class="Challenge">
                <p>ChallengeMode:</p>
                <div class="Challenge-r">
                    <img src="{{_res_path}}otherimg/{{ChallengeMode}}.png" alt="{{ChallengeMode}}">
                    <p>{{ChallengeModeRank}}</p>
                </div>
            </div>
            <p>Notes: {{Notes}}</p>
            <p>Date: {{Date}}</p>
        </div>
    </div>
    <div class="box">
        {{if update[0]||task_update[0]}}
        {{each task_update song}}
        <div class="abox">
            <div class="imgbox">
                <img src="{{song.illustration}}" alt="{{song.song}}">
            </div>
            {{if song.reward}}
            <div class="coinbox">
                <p>+{{song.reward}} Notes</p>
            </div>
            {{/if}}

            <div class="infobox">
                {{if song.finished}}
                <div class="namebox_ed">
                {{else}}
                <div class="namebox_un">
                {{/if}}
                    {{if song.pingji}}
                    <div class="new-box">
                        <img src="{{_res_path}}otherimg/{{song.pingji}}.png" alt="{{song.pingji}}">
                    </div>
                    {{/if}}
                    <div class="songsname">
                        <p>{{song.song}}</p>
                    </div>
                </div>
                {{if song.finished}}
                <div class="songsinfo_ed">
                {{else}}
                <div class="songsinfo_un">
                    {{/if}}
                    <p>{{song.rank}}&ensp;&ensp;{{if song.score_old}}{{song.score_old}} >> {{/if}}{{song.score_new}}&ensp;&ensp;RQ:{{song.request}}</p>
                    <p>{{if song.acc_old}}{{song.acc_old.toFixed(2)}}% >> {{/if}}{{song.acc_new.toFixed(2)}}%
                        {{if song.rks_new}}
                        &ensp;&ensp;{{if song.rks_old}}{{song.rks_old.toFixed(2)}} >> {{/if}}{{song.rks_new.toFixed(2)}}
                        {{/if}}
                    </p>
                </div>
            </div>
        </div>
        {{/each}}
        {{each update song}}
        <div class="abox">
            <div class="imgbox">
                <img src="{{song.illustration}}" alt="{{song.song}}">
            </div>
            <div class="infobox">
                <div class="namebox">
                    {{if song.pingji}}
                    <div class="new-box">
                        <img src="{{_res_path}}otherimg/{{song.pingji}}.png" alt="{{song.pingji}}">
                    </div>
                    {{/if}}
                    <div class="songsname">
                        <p>{{song.song}}</p>
                    </div>
                </div>
                <div class="songsinfo">
                    <p>{{song.rank}}&ensp;&ensp;&ensp;&ensp;{{if song.score_old}}{{song.score_old}} >> {{/if}}{{song.score_new}}</p>
                    <p>{{if song.acc_old}}{{song.acc_old.toFixed(2)}}% >> {{/if}}{{song.acc_new.toFixed(2)}}%
                        {{if song.rks_new}}
                        &ensp;&ensp;{{if song.rks_old}}{{song.rks_old.toFixed(2)}} >> {{/if}}{{song.rks_new.toFixed(2)}}
                        {{/if}}
                    </p>
                </div>
            </div>
        </div>
        {{/each}}
        {{else}}
        <div class="Nosignal">
            <div class="border_corner border_corner_left_top"></div>
            <div class="border_corner border_corner_right_top"></div>
            <div class="border_corner border_corner_left_bottom"></div>
            <div class="border_corner border_corner_right_bottom"></div>
            <div class="line"></div>
            <div class="timeout">
                <p>NOT_FOUND</p>
            </div>
            <div class="client">
                <p>>>> PhigrOS Client Finding NewScore</p>
            </div>
            <div class="sqrt">
                <p>////////////////////////////////////////////////////////////////////////////////////////</p>
            </div>
        </div>
        {{/if}}
    </div>
    <div class="createdbox">
        <div class="phi-plugin">
            <p>Phi-Plugin</p>
        </div>
        <div class="ver">
            <p>{{Version.ver}}</p>
        </div>
    </div>
</body>