@import '../common/common.css';

body {
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body p {
    margin: 0;
}

.title {
    display: flex;
    width: 90%;
    height: 200px;
    align-items: flex-end;
}

.title p {
    font-size: 50px;
    text-shadow: 0 0 20px rgb(0 186 255);
    font-family: 'Aldrich', 'PHI';
    color: white;
}

.box {
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
}

.sLine,
.lLine {
    background-color: #f5f5f580;
    border: skyblue 3px solid;
    padding: 5px;
    border-radius: 14px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: relative;
}

.sLine .Challenge {
    height: 41%;
    position: absolute;
    bottom: -2px;
    left: 1%;
    font-size: 20px;
}

.Challenge img {
    height: 100%;
}

.line {
    position: absolute;
    width: 98%;
    height: 3px;
    background: beige;
    border-radius: 3px;
    right: 1%;
}

.sLine p {
    font-size: 21px;
    color: black;
    padding-left: 7px;
}

.sLine .avatar {
    height: 60px;
}

.avatar img {
    height: 100%;
    border-radius: 100px;
}

.profileIll {
    position: relative;
    width: 102%;
    margin: -5px;
    filter: brightness(0.5);
}

.profileIll img {
    width: 100%;
}

.lLine .avatar {
    position: absolute;
    left: 15px;
    top: 15px;
    filter: drop-shadow(0px 0px 10px #ffffff);
    z-index: 1;
}

.rankNum {
    position: absolute;
    display: flex;
    top: 0px;
    right: 20px;
    height: 21%;
    align-items: center;
}

.rankNum p {
    font-size: 40px;
    color: white;
    text-shadow: 0px 0px 4px #3e0071;
}

.me .rankNum p {
    color: #e1ff00;
}

.info_box {
    display: flex;
    position: absolute;
    bottom: 0;
    height: 79%;
    width: 100%;
    background: #ffffff88;
    backdrop-filter: blur(3px);
    align-items: center;
    justify-content: center;
}

.playerId {
    position: absolute;
    display: flex;
    right: 0;
    top: 0;
    width: 79%;
    height: 20%;
    justify-content: center;
    align-items: center;
}

.playerId p {
    font-size: 40px;
}

.rks {
    position: absolute;
    font-size: 50px;
    top: 40%;
    left: 3.5%;
}

.lLine .Challenge {
    height: 21%;
    position: absolute;
    top: 22%;
    left: 2%;
    font-size: 20px;
}

.lLine .Challenge span {
    font-size: 50px;
}

.saveInfo {
    position: absolute;
    display: flex;
    left: 20%;
    width: 220px;
    top: 60px;
    flex-direction: column;
    align-items: center;
}

.saveInfo p {
    font-size: 20px;
    line-height: 20px;
}

.selfIntor {
    position: absolute;
    display: flex;
    width: 46%;
    height: 41%;
    right: 1.5%;
    top: 19%;
    box-sizing: border-box;
    border: 2px solid skyblue;
    border-radius: 5px;
    background: #87ceeb55;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.selfIntor p {
    font-size: 40px;
}

.b19Box {
    position: absolute;
    display: flex;
    bottom: 1%;
    width: 97%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.aSong {
    width: 9.2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-shadow: 0 0 2px #ffffff;
    border: 1px solid wheat;
    border-radius: 7px;
    background: #c1620061;
    box-sizing: border-box;
    margin-bottom: 5px;
}

.difficulty {
    display: flex;
    font-size: 27px;
    height: 24px;
    align-items: center;
    z-index: 1;
}

.acc {
    font-size: 14px;
    z-index: 1;
}

.aSong img {
    position: absolute;
    height: 100%;
}

.createdbox {
    padding: 38px;
}

.phi-plugin p {
    font-size: 40px;
}

.ver p {
    font-size: 20px;
}