<head>
    <link rel="stylesheet" href="./rankingList.css">
</head>

<body>
    <div class="background">
        <img src="../../original_ill/ill/Aphasia.闫东炜.png" alt="曲绘">
    </div>
    <div class="title">
        <p>Phi-Plugin<br>RankingScore排行榜</p>
    </div>
    <div class="box">
        <div class="sLine">
            <p>总统计量：100000</p>
            <p>数据来源：fufu喵</p>
        </div>
        <div class="lLine">
            <div class="profileIll">
                <img src="../../original_ill/ill/Ark.kanoryo.png" alt="{{user.background}}">
            </div>
            <div class="avatar">
                <img src="../avatar/ShineAfter_水青_Special_Avatar.png" alt="{{user.avatar}}">
            </div>
            <div class="rankNum">
                <p>#1</p>
            </div>
            <div class="info_box">
                <div class="playerId">
                    <p name="pvis">就是不会告诉你</p>
                </div>
                <div class="rks">00.000000</div>
                <div class="Challenge">
                    <img src="../otherimg/5.png" alt="{{ChallengeMode}}">
                    <span>54</span>
                </div>
                <div class="saveInfo">
                    <p>0000/00/00 00:00:00</p>
                    <p>~</p>
                    <p>0000/00/00 00:00:00</p>
                </div>
                <div class="selfIntor">
                    {{if gameuser.selfIntro}}
                    <p color='white' name="pvis">{{#gameuser.selfIntro.replace(/\n\r?/g,'<br>')}}</p>
                    {{else}}
                    <p color='skyblue' name="pvis">{{'介个人的简介被胡桃吃掉惹……'}}</p>
                    {{/if}}
                </div>

                <div class="b19Box">
                    <div class="aSong">
                        <div class="difficulty">00.0</div>
                        <div class="acc">100.00%</div>
                        <img src="../otherimg/phi.png" alt="{{song.rank}}">
                    </div>
                    <div class="aSong">
                        <div class="difficulty">00.0</div>
                        <div class="acc">100.00%</div>
                        <img src="../otherimg/FC.png" alt="{{song.rank}}">
                    </div>
                    <div class="aSong">
                        <div class="difficulty">00.0</div>
                        <div class="acc">100.00%</div>
                        <img src="../otherimg/V.png" alt="{{song.rank}}">
                    </div>
                    <div class="aSong">
                        <div class="difficulty">00.0</div>
                        <div class="acc">100.00%</div>
                        <img src="../otherimg/S.png" alt="{{song.rank}}">
                    </div>
                    <div class="aSong">
                        <div class="difficulty">00.0</div>
                        <div class="acc">100.00%</div>
                        <img src="../otherimg/A.png" alt="{{song.rank}}">
                    </div>
                    <div class="aSong">
                        <div class="difficulty">00.0</div>
                        <div class="acc">100.00%</div>
                        <img src="../otherimg/B.png" alt="{{song.rank}}">
                    </div>
                    <div class="aSong">
                        <div class="difficulty">00.0</div>
                        <div class="acc">100.00%</div>
                        <img src="../otherimg/C.png" alt="{{song.rank}}">
                    </div>
                    <div class="aSong">
                        <div class="difficulty">00.0</div>
                        <div class="acc">100.00%</div>
                        <img src="../otherimg/F.png" alt="{{song.rank}}">
                    </div>
                    <div class="aSong">
                        <div class="difficulty">00.0</div>
                        <div class="acc">100.00%</div>
                    </div>
                    <div class="aSong">
                        <div class="difficulty">00.0</div>
                        <div class="acc">100.00%</div>
                    </div>
                    <div class="aSong">
                        <div class="difficulty">16.9</div>
                        <div class="acc">100.00%</div>
                        <img src="../otherimg/phi.png" alt="{{song.rank}}">
                    </div>
                    <div class="aSong">
                        <div class="difficulty">16.9</div>
                        <div class="acc">100.00%</div>
                        <img src="../otherimg/phi.png" alt="{{song.rank}}">
                    </div>
                    <div class="aSong">
                        <div class="difficulty">16.9</div>
                        <div class="acc">100.00%</div>
                        <img src="../otherimg/phi.png" alt="{{song.rank}}">
                    </div>
                    <div class="aSong">
                        <div class="difficulty">16.9</div>
                        <div class="acc">100.00%</div>
                        <img src="../otherimg/phi.png" alt="{{song.rank}}">
                    </div>
                    <div class="aSong">
                        <div class="difficulty">16.9</div>
                        <div class="acc">100.00%</div>
                        <img src="../otherimg/phi.png" alt="{{song.rank}}">
                    </div>
                    <div class="aSong">
                        <div class="difficulty">16.9</div>
                        <div class="acc">100.00%</div>
                        <img src="../otherimg/phi.png" alt="{{song.rank}}">
                    </div>
                    <div class="aSong">
                        <div class="difficulty">16.9</div>
                        <div class="acc">100.00%</div>
                        <img src="../otherimg/phi.png" alt="{{song.rank}}">
                    </div>
                    <div class="aSong">
                        <div class="difficulty">16.9</div>
                        <div class="acc">100.00%</div>
                        <img src="../otherimg/phi.png" alt="{{song.rank}}">
                    </div>
                    <div class="aSong">
                        <div class="difficulty">16.9</div>
                        <div class="acc">100.00%</div>
                        <img src="../otherimg/phi.png" alt="{{song.rank}}">
                    </div>
                    <div class="aSong">
                        <div class="difficulty">16.9</div>
                        <div class="acc">100.00%</div>
                        <img src="../otherimg/phi.png" alt="{{song.rank}}">
                    </div>
                </div>
            </div>
        </div>
        <div class="lLine me">
            <div class="profileIll">
                <img src="../../original_ill/ill/Ark.kanoryo.png" alt="{{user.background}}">
            </div>
            <div class="avatar">
                <img src="../avatar/ShineAfter_水青_Special_Avatar.png" alt="{{user.avatar}}">
            </div>
            <div class="rankNum">
                <p>#1</p>
            </div>
            <div class="info_box">
                <div class="playerId">
                    <p name="pvis">就是不会告诉你</p>
                </div>
                <div class="rks">00.000000</div>
                <div class="Challenge">
                    <img src="../otherimg/5.png" alt="{{ChallengeMode}}">
                    <span>54</span>
                </div>
                <div class="saveInfo">
                    <p>0000/00/00 00:00:00</p>
                    <p>~</p>
                    <p>0000/00/00 00:00:00</p>
                </div>
                <div class="selfIntor">
                    {{if gameuser.selfIntro}}
                    <p color='white' name="pvis">{{#gameuser.selfIntro.replace(/\n\r?/g,'<br>')}}</p>
                    {{else}}
                    <p color='skyblue' name="pvis">{{'介个人的简介被胡桃吃掉惹……'}}</p>
                    {{/if}}
                </div>

                <div class="b19Box">
                    <div class="aSong">
                        <div class="difficulty">00.0</div>
                        <div class="acc">100.00%</div>
                        <img src="../otherimg/phi.png" alt="{{song.rank}}">
                    </div>
                    <div class="aSong">
                        <div class="difficulty">00.0</div>
                        <div class="acc">100.00%</div>
                        <img src="../otherimg/FC.png" alt="{{song.rank}}">
                    </div>
                    <div class="aSong">
                        <div class="difficulty">00.0</div>
                        <div class="acc">100.00%</div>
                        <img src="../otherimg/V.png" alt="{{song.rank}}">
                    </div>
                    <div class="aSong">
                        <div class="difficulty">00.0</div>
                        <div class="acc">100.00%</div>
                        <img src="../otherimg/S.png" alt="{{song.rank}}">
                    </div>
                    <div class="aSong">
                        <div class="difficulty">00.0</div>
                        <div class="acc">100.00%</div>
                        <img src="../otherimg/A.png" alt="{{song.rank}}">
                    </div>
                    <div class="aSong">
                        <div class="difficulty">00.0</div>
                        <div class="acc">100.00%</div>
                        <img src="../otherimg/B.png" alt="{{song.rank}}">
                    </div>
                    <div class="aSong">
                        <div class="difficulty">00.0</div>
                        <div class="acc">100.00%</div>
                        <img src="../otherimg/C.png" alt="{{song.rank}}">
                    </div>
                    <div class="aSong">
                        <div class="difficulty">00.0</div>
                        <div class="acc">100.00%</div>
                        <img src="../otherimg/F.png" alt="{{song.rank}}">
                    </div>
                    <div class="aSong">
                        <div class="difficulty">00.0</div>
                        <div class="acc">100.00%</div>
                    </div>
                    <div class="aSong">
                        <div class="difficulty">00.0</div>
                        <div class="acc">100.00%</div>
                    </div>
                    <div class="aSong">
                        <div class="difficulty">16.9</div>
                        <div class="acc">100.00%</div>
                        <img src="../otherimg/phi.png" alt="{{song.rank}}">
                    </div>
                    <div class="aSong">
                        <div class="difficulty">16.9</div>
                        <div class="acc">100.00%</div>
                        <img src="../otherimg/phi.png" alt="{{song.rank}}">
                    </div>
                    <div class="aSong">
                        <div class="difficulty">16.9</div>
                        <div class="acc">100.00%</div>
                        <img src="../otherimg/phi.png" alt="{{song.rank}}">
                    </div>
                    <div class="aSong">
                        <div class="difficulty">16.9</div>
                        <div class="acc">100.00%</div>
                        <img src="../otherimg/phi.png" alt="{{song.rank}}">
                    </div>
                    <div class="aSong">
                        <div class="difficulty">16.9</div>
                        <div class="acc">100.00%</div>
                        <img src="../otherimg/phi.png" alt="{{song.rank}}">
                    </div>
                    <div class="aSong">
                        <div class="difficulty">16.9</div>
                        <div class="acc">100.00%</div>
                        <img src="../otherimg/phi.png" alt="{{song.rank}}">
                    </div>
                    <div class="aSong">
                        <div class="difficulty">16.9</div>
                        <div class="acc">100.00%</div>
                        <img src="../otherimg/phi.png" alt="{{song.rank}}">
                    </div>
                    <div class="aSong">
                        <div class="difficulty">16.9</div>
                        <div class="acc">100.00%</div>
                        <img src="../otherimg/phi.png" alt="{{song.rank}}">
                    </div>
                    <div class="aSong">
                        <div class="difficulty">16.9</div>
                        <div class="acc">100.00%</div>
                        <img src="../otherimg/phi.png" alt="{{song.rank}}">
                    </div>
                    <div class="aSong">
                        <div class="difficulty">16.9</div>
                        <div class="acc">100.00%</div>
                        <img src="../otherimg/phi.png" alt="{{song.rank}}">
                    </div>
                </div>
            </div>
        </div>
        <div class="sLine">
            <div class="avatar">
                <img src="../avatar/Burn.png" alt="{{user.avatar}}">
            </div>
            <div class="info">
                <p>#2 就是不会告诉你</p>
                <div class="line"></div>
                <div class="Challenge">
                    <img src="../otherimg/5.png" alt="{{ChallengeMode}}">
                    <span>54</span>
                </div>
                <p>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;14.755555&ensp;&ensp;2024/8/14 00:00:00</p>
            </div>
        </div>
    </div>
</body>