@import "../common/common.css";

body {
    width: 2048px;
    height: 1080px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background img {
    filter: none;
    transform: none;
}

:root {
    --offset: 150px;
}

.list_bkg,
.info {
    backdrop-filter: blur(10px);
}

.list {
    height: 100%;
    width: 37%;
    position: absolute;
    left: 0;
    --itemOffset: 28.8px;
    --itemBegin: 6.15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    clip-path: polygon(
        var(--offset) 0,
        100% 0,
        calc(100% - var(--offset)) 100%,
        0 100%
    );
    overflow: hidden;
}

.list_bkg {
    height: 100%;
    width: 100%;
    background-color: #00000087;
    position: absolute;
    clip-path: polygon(
        var(--offset) 0,
        100% 0,
        calc(100% - var(--offset)) 100%,
        0 100%
    );
    z-index: 0;
}

.info {
    height: 100%;
    width: 70.82%;
    background-color: #8888888c;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    clip-path: polygon(
        var(--offset) 0,
        100% 0,
        calc(100% - var(--offset)) 100%,
        0 100%
    );
}

.aUser {
    display: flex;
    align-items: center;
    width: 83.4%;
    height: 15%;
    position: relative;
}

.aUser:nth-child(2) {
    margin-left: calc(var(--itemOffset) * 4 + var(--itemBegin));
}

.aUser:nth-child(3) {
    margin-left: calc(var(--itemOffset) * 3 + var(--itemBegin));
}

.aUser:nth-child(4) {
    margin-left: calc(var(--itemOffset) * 2 + var(--itemBegin));
}

.aUser:nth-child(5) {
    margin-left: calc(var(--itemOffset) * 1 + var(--itemBegin));
}

.aUser:nth-child(6) {
    margin-left: calc(var(--itemOffset) * 0 + var(--itemBegin));
}

.profileIll {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    --offset: 22.54px;
    /* clip-path: polygon(
        var(--offset) 0,
        100% 0,
        calc(100% - var(--offset)) 100%,
        0 100%
    ); */
}

.profileIll img {
    width: 100%;
    filter: blur(5px) brightness(0.5);
}

.you .profileIll {
    background-color: #ffffff61;
}

.avatar_box {
    width: 24%;
    height: 80%;
    position: absolute;
    left: 4%;
    filter: drop-shadow(0 0 10px #fff);
}

.avatar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    --offset: 18px;
    clip-path: polygon(
        var(--offset) 0,
        100% 0,
        calc(100% - var(--offset)) 100%,
        0 100%
    );
}

.avatar img {
    width: 100%;
}

.aUser p {
    font-size: 40px;
    color: white;
}

.num {
    position: absolute;
    left: 30.5%;
    top: 15%;
    display: flex;
    align-items: center;
}

.you .num {
    top: 5%;
}

.you .num p {
    font-size: 60px;
    color: gold;
}

.playerId {
    width: 66%;
    height: 40%;
    position: absolute;
    right: 5%;
    bottom: 5%;
    display: flex;
    align-items: center;
}

.clgBox {
    top: 10%;
    right: 7%;
    position: absolute;
    width: 15%;
}

.clgBox p {
    font-size: 35px;
}

.rks {
    top: 35%;
    right: 7%;
    position: absolute;
}

.rks p {
    font-size: 25px;
    color: white;
}

.txt_box {
    position: absolute;
    display: flex;
    top: 7%;
    left: 15%;
    width: 30%;
    flex-direction: column;
}

.player_profile_box {
    position: absolute;
    display: flex;
    top: 19%;
    left: 13%;
    width: 30%;
    height: 29%;
    flex-direction: column;
}

.player_profile_box p {
    font-size: 35px;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.txt_box p {
    font-size: 40px;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.rks_line {
    position: absolute;
    right: 9%;
    top: 5%;
    width: 45%;
    height: 25%;
}

.rks_line p {
    margin: 0;
    width: 0;
    height: 0;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    width: 100%;
    height: 90%;
    filter: drop-shadow(0px 0px 2px white);
}

.line svg {
    width: 100%;
    height: 100%;
    color: #ffd600;
    stroke: currentColor;
    stroke-width: 3.5px;
    overflow: visible;
    transform: scaleY(-1);
}

circle {
    stroke: currentColor;
    stroke-width: 0px;
    fill: #ffffff;
}

.vis_dot_box {
    width: 0;
    height: 0;
    bottom: 70%;
    left: 20%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
}

.vis_dot {
    overflow: hidden;
    background-color: white;
    border-radius: 5px;
    width: 10;
    height: 10;
    position: absolute;
}

.line line {
    marker-start: url(#dot);
}

.line line:last-child {
    marker-end: url(#dot);
}

.svg-box {
    padding: 5px;
    /* border: #87ceeb 1px solid; */
    /* background-color: rgba(0, 0, 0, 0.5); */
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    /* margin-top: 8px; */
    /* margin-bottom: 8px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg-box p {
    /* text-shadow:
        0 0 1px #d8f9ffab,
        1px 0 2px #d8f9ffab,
        -1px 0 2px #d8f9ffab,
        1px 0 5px #d8f9ffab,
        -1px 0 10px #d8f9ffab; */
    /* margin-left: 5%; */
    font-size: 50px;
    color: white;
}

.line-box {
    display: flex;
    flex-direction: column;
    width: 89%;
    height: 95%;
    align-items: center;
    /* padding-left: 2%; */
    /* padding-right: 2%; */
}

.value_box {
    height: 85%;
    width: 11%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
    border-right: 2px white solid;
}

.value_box p {
    font-size: 20px;
}

.date_box {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    align-items: flex-end;
    border-top: 2px white solid;
}

.date_box p {
    font-size: 20px;
}

.clg_list_box {
    position: absolute;
    right: 10.5%;
    top: 38%;
    height: 10%;
    width: 40%;
    padding-left: 3%;
    overflow: hidden;
    mask-image: linear-gradient(to right, black 92%, transparent 100%);
    background-color: #ffffff45;
    --offset: 20px;
    clip-path: polygon(
        var(--offset) 0,
        100% 0,
        100% 100%,
        0 100%
    );
}

.clg_info {
    position: absolute;
    right: 33%;
    top: 34%;
}

.clg_info p {
    font-size: 25px;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.clg_line {
    --width_: 5px;
    width: calc(var(--width_) + var(--offset));
    height: 100%;
    background-color: white;
    position: absolute;
    left: 0;
    top: 0;
    clip-path: polygon(
        var(--offset) 0,
        100% 0,
        calc(100% - var(--offset)) 100%,
        0 100%
    );
}

.clg_list {
    display: flex;
    height: 100%;
    width: fit-content;
}

.a_clg_box {
    width: 120px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
}

.a_clg_box p {
    font-size: 25px;
    color: white;
}

.clg_box {
    width: 100%;
    height: 50%;
    position: relative;
}

.clg_box p {
    font-size: 45px;
    color: white;
    text-shadow: 1px 1px 3px black;
}

.b30list {
    position: absolute;
    left: 6%;
    bottom: 0;
    display: flex;
    height: 50%;
    width: 82%;
    justify-content: space-evenly;
}

.b30list p {
    font-size: 40px;
    color: black;
}

.b30Alist {
    display: flex;
    flex-direction: column;
    height: 100%;
    --itemOffset: 20.5px;
    justify-content: space-evenly;
}

.b30Alist > *:nth-child(1) {
    margin-left: calc(var(--itemOffset) * 3);
}

.b30Alist > *:nth-child(2) {
    margin-left: calc(var(--itemOffset) * 2);
}

.b30Alist > *:nth-child(3) {
    margin-left: calc(var(--itemOffset) * 1);
}

.b30Alist > *:nth-child(4) {
    margin-left: calc(var(--itemOffset) * 0);
}

.P3 {
    filter: drop-shadow(0 0 10px gold);
}

.B3 {
    filter: drop-shadow(0 0 10px #ceff1d);
}

.F3 {
    filter: drop-shadow(0 0 10px #ffffff);
}

.ill_box {
    width: 240px;
    height: 126.56px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    --offset: 17.5px;
    clip-path: polygon(
        var(--offset) 0,
        100% 0,
        calc(100% - var(--offset)) 100%,
        0 100%
    );
    position: relative;
}

.ill_box img {
    width: 100%;
}

.b30_dif {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 40%;
    --offset: 4.5px;
    clip-path: polygon(
        var(--offset) 0,
        100% 0,
        calc(100% - var(--offset)) 100%,
        0 100%
    );
    text-align: center;
}

.b30_dif p {
    font-size: 20px;
    color: white;
}

.Rating {
    position: absolute;
    right: 8%;
    bottom: 0px;
    height: 35%;
}

.Rating img {
    height: 100%;
    filter: drop-shadow(1px 1px 2px black);
}

.createdbox {
    position: absolute;
    width: auto;
    right: 4%;
    bottom: 11%;
    transform: rotate(-82.1deg);
}

.phi-plugin p {
    font-size: 35px;
}

.ver p {
    font-size: 20px;
}
