@import "../common/common.css";

body {
  /* writing-mode: vertical-lr; */
  flex-direction: column;
  display: flex;
  width: 1200px;
  height: fit-content;
}

body p {
  color: white;
  margin: 0px;
  margin-block: 0;
  margin-inline: 0;
}

.background img {
  height: 100%;
  width: auto;
  /* filter: blur(100px) brightness(75%); */
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 7rem;
  position: relative;
  margin-top: 2rem;
  margin-bottom: 2rem;
  top: 0;
  z-index: 2;
}

.playerInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
  height: 5rem;
  position: relative;
}

.blackBlock {
  width: 98%;
  --height: 72.8px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 0;
  right: 0px;
  backdrop-filter: blur(5px);
}

.avatar {
  --height: 80px;
  z-index: 2;
  display: flex;
  align-items: center;
}

.avatar img {
  height: 200%;
}

.playerId {
  position: absolute;
  height: 80%;
  width: 51%;
  right: 6%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playerId p {
  font-size: 2rem;
}

.rks {
  width: 18%;
  --height: 24px;
  display: flex;
  justify-self: center;
  align-items: center;
  background-color: white;
  z-index: 1;
  justify-content: center;
  position: absolute;
  left: 22%;
  bottom: 13%;
}

.rks p {
  font-size: 1.3rem;
  color: black;
}

.clgBox {
  width: 4rem;
  height: 1rem;
  left: 27%;
  top: 17%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clgBox p {
  font-size: 1.5rem;
  color: white;
}

.date {
  position: absolute;
  right: -6px;
  top: -20px;
}

.dataBox {
  position: absolute;
  --height: 20px;
  bottom: -31%;
  left: -7px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  padding-right: 0.6rem;
  white-space: nowrap;
}

.dataBox img {
  height: 100%;
  padding: 4px;
  padding-left: 10px;
  box-sizing: border-box;
}

.spInfo {
  position: absolute;
  --height: 20px;
  bottom: -31%;
  right: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 0.7rem;
  padding-left: 0.6rem;
  white-space: nowrap;
}

.spInfo p {
  color: black;
  text-shadow: 1px 1px white;
}

.descTip {
  width: 100%;
  display: flex;
  justify-content: center;
  /* margin-bottom: 10px; */
}

.descTip p {
  color: white;
  font-size: 20px;
}

.main-box {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
  justify-content: flex-start;
  filter: drop-shadow(0px 0px 2px #ffffffaa);
  z-index: 1;
}

.row {
  position: relative;
  display: flex;
  flex-direction: row;
  min-width: 50%;
  max-width: 100%;
  min-height: 230px;
  justify-content: flex-start;
  margin-bottom: -60px;
  --width-size: 5px;
  --row-color: #00aaff;
}

.date-box {
  width: 60px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-end;
}

.upLine,
.circInner,
.downLine,
.underLine {
  background-color: var(--row-color);
}

.upLine,
.downLine,
.underLine {
  border-radius: calc(var(--width-size) / 2);
}

.upLine {
  margin-top: 30px;
  height: 30px;
  width: var(--width-size);
}

.midCirc {
  height: calc(var(--width-size) * 2);
  width: var(--width-size);
  display: flex;
  align-items: center;
  justify-content: center;
}

.circInner {
  width: var(--width-size);
  height: var(--width-size);
  border-radius: 50%;
}

.downLine {
  width: var(--width-size);
  height: calc(100% - var(--width-size) * 2 - 120px);
}

.row-date {
  position: absolute;
  top: calc(-1 * var(--width-size));
  left: calc(var(
  --width-size) / 2);
  /* top: calc(60px + var(--width-size) / 2); */
  /* left: calc(60px + var(--width-size) / 2); */
  width: calc(100% - 120px - var(
  --width-size) / 2);
  /* width: 400px; */
  white-space: nowrap;
  display: flex;
  justify-content: flex-start;
}

.row-date p {
  position: absolute;
  font-size: 24px;
  bottom: 0;
  margin-left: 45px;
}

.underLine {
  width: 100%;
  height: var(--width-size);
  position: absolute;
  top: 0;
}

.songs-box {
  display: flex;
  position: relative;
  margin-top: calc(60px + var(--width-size) * 1.5);
  padding: 20px;
  flex-wrap: wrap;
  max-width: 1005px;
}

.s-song {
  position: relative;
  margin-right: 30px;
  margin-bottom: 30px;
}

.ill-box {
  z-index: 1;
  filter: drop-shadow(2px 4px 10px #00000055);
  position: relative;
}

.ill {
  --height: 90px;
}

.ill img {
  height: 100%;
  display: block;
}

.levelKind {
  position: absolute;
  bottom: 0;
  --height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.levelKind p {
  color: white;
  font-size: 14px;
}

.tag-box {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  --left-size: -48px;
}

.changeTag:nth-child(1) {
  --top-size: 5px;
}

.changeTag:nth-child(2) {
  --top-size: 35px;
}

.phiTag {
  --bkgColor: #9b84007a;
  --lineColor: hsl(60, 100%, 70%);
}

.exitTag {
  --bkgColor: #f000004d;
  --lineColor: hsl(350, 100%, 70%);
}

.b27Tag {
  --bkgColor: #00f0444d;
  --lineColor: #00f044;
}

.changeTag {
  position: absolute;
  top: var(--top-size);
  right: calc(var(--clipSlope) * var(--top-size) + var(--left-size));
  --height: 25px;
  width: 43px;
  padding: 0 10px;
  white-space: nowrap;
  background-color: var(--bkgColor);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.changeTagLine {
  position: absolute;
  right: 0;
  width: 11px;
  background-color: var(--lineColor);
}

.changeTag p {
  font-size: 17px;
}

.changeTag svg {
  height: 75%;
}

.changeTag img {
  height: 75%;
}

.exitTag svg {
  transform: rotate(180deg);
}

.changeTag path {
  fill: var(--lineColor);
}

.createdbox {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 5%;
  margin-bottom: 5%;
  writing-mode: horizontal-tb;
  justify-content: center;
}

.createdbox p {
  color: white;
  font-size: 70px;
  font-family: "Aldrich", "PHI";
}

.phi-plugin {
  display: flex;
  z-index: 1;
  justify-content: center;
  align-items: center;
}

.ver {
  display: flex;
  z-index: 1;
}

.phi-plugin p {
  font-size: xx-large;
  text-shadow: 0 0 20px rgb(0 186 255);
}

.ver p {
  font-size: large;
  text-shadow: 0 0 20px #fff700;
}
