.title .l,
.title .r {
    background-color: rgba(0, 0, 0, 0.5);
    /* backdrop-filter: blur(3px); */
}

.title {
    width: 100%;
    margin-top: 5%;
    height: 150px;
    display: flex;
    z-index: 1;
    flex-direction: row;
    margin-bottom: 5%;
    justify-content: flex-start;
    /* writing-mode: vertical-lr; */
    align-items: center;
}

.title img {
    width: 26%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 25%;
}

.title .l {
    width: 57%;
    height: 100%;
    z-index: 1;
    writing-mode: horizontal-tb;
    clip-path: polygon(100% 0%, 90% 100%, 0% 100%, 0px 0px);
    display: flex;
    flex-direction: row;
    /* margin-right: -6%; */
    align-items: center;
}

.title .l .doc p {
    font-size: 30px;
    margin: 4px;
}

.title .m {
    background-color: white;
    clip-path: polygon(100% 0%, 5% 100%, 0% 100%, 95% 0px);
    height: 100%;
    width: 6%;
    z-index: 2;
    margin: -5.7%;
}

.title .r {
    clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 11% 0px);
    height: 90%;
    width: 42.4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-left: -5%; */
    padding-left: 6%;
}

.title .r p {
    font-size: unset;
    /* margin-left: 15%; */
}

.title .r .Challenge {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    justify-content: flex-start;
}

.title .r .Challenge-r,
.title .r .Challenge-r_1 {
    width: 14%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 0%;
    margin-left: 0%;
}

.title .r .Challenge-r img,
.title .r .Challenge-r_1 img {
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-left: 0;
    border-radius: 0px;
    margin-bottom: -56%;
}

.title .r .Challenge-r p,
.title .r .Challenge-r_1 p {
    margin: 0;
}


.title .r .Challenge-r p {
    margin: 0;
}



.CLG p {
    margin-left: 0;
}

.CLG {
    margin-left: 0;
    width: auto;
    display: flex;
    margin-left: 10px;
    /* margin-right: -20px; */
}