/data/*
/config/config/*
/backup/
/node_modules/
resources/original_ill/
/package-lock.json
/resources/splited_music/
chart/

/model/233.js
/model/tem.txt
/lib/tem.js
/lib/2333.json
/resources/info/songsurl.yaml
/resources/otherill/chu.png
/resources/otherill/wen.png
/apps/guessName.js
/.hintrc
tem.js
lain.support.js
/apps/chart.js
plugin-ill/