/data/*
/config/config/*
/model/233.js
/lib/tem.js
/lib/2333.json
/node_modules
/resources/info/songsurl.yaml
/resources/otherill/chu.png
/resources/otherill/wen.png
/apps/guessName.js
/.hintrc
/resources/original_ill/