@import "../common/common.css";

body {
    margin: 0;
    height: fit-content;
    width: fit-content;
    display: flex;
}

body p {
    color: white;
    font-family: 'PHI', 'HIMALAYA';
}

.shadow {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 66px;
    background: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0.1) 40px, transparent 66px);
    pointer-events: none;
}

.box {
    height: 1080;
    display: flex;
    align-items: flex-end;
}

.info-box {
    height: 54px;
    display: flex;
    align-items: center;
    flex-direction: row;
    position: absolute;
    bottom: 12px;
}

.phi {
    height: 100%;
    display: flex;
    margin-left: 13px;
}

.phi p {
    font-size: 40px;
    font-family: "Aldrich";
}

.line {
    height: 60%;
    width: 1px;
    background-color: #ffffff;
    margin-left: 13px;
    margin-right: 13px;
    filter: drop-shadow(0px 0px 3px #ffffff);
}

.info {
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.up,
.down {
    height: 40%;
    display: flex;
    align-items: center;
}

.info p {
    font-size: 15px;
    color: #ffffff;
    margin: 0;
}
