<!-- <!DOCTYPE html>
<html lang="zh-cn"> -->

<head>
    <!-- <meta charset="utf-8"> -->
    <!-- <meta name="viewport" content="width=device-width"> -->
    <!-- <link rel="shortcut icon" href="#" /> -->
    <link rel="stylesheet" type="text/css" href="{{_res_path}}html/common/common.css" />
    {{block 'css'}}
    {{/block}}
    <title>phi-plugin</title>
</head>

<!-- <body class="elem-{{element||elem||`hydro`}} {{displayMode || mode || `default`}}-mode  {{bodyClass}}" {{sys.scale}}> -->
<!-- <div class="container" id="container"> -->
{{block 'main'}}{{/block}}
<!-- <div class="copyright">{{@sys.copyright}}</div>
  </div> -->
<!-- 曲目名称自适应name-box的宽度 -->
<script>
    function adjustFontSize() {
        //获取p元素
        var a = document.getElementsByName('pvis')
        for (var i = 0; i < a.length; ++i) {

            const songName = a[i]

            if (!songName) continue


            /*调整曲目名称字体大小*/
            var parentElement = songName.parentElement

            var maxFontSize = 100 //设置最大字体大小

            //如果字体宽度小于父元素宽度，则增大字体大小
            while (songName.scrollWidth < parentElement.offsetWidth && songName.scrollHeight < parentElement.offsetHeight) {
                var style = window.getComputedStyle(songName, null).getPropertyValue('font-size')
                var fontSize = parseFloat(style)

                //检查是否已经达到最大字体大小
                if (fontSize >= maxFontSize) {
                    break
                }

                songName.style.fontSize = (fontSize + 1) + "px"
            }

            // 如果字体宽度大于父元素宽度，则减小字体大小
            while (songName.scrollWidth > parentElement.offsetWidth || songName.scrollHeight > parentElement.offsetHeight) {
                var style = window.getComputedStyle(songName, null).getPropertyValue('font-size')
                var fontSize = parseFloat(style);
                songName.style.fontSize = (fontSize - 1) + "px";
            }
        }
    }
    window.onload = adjustFontSize
    window.onresize = adjustFontSize
</script>
<!-- </body> -->

<!-- </html> -->