@import "../common/common.css";

body {
    display: flex;
    flex-direction: column;
    width: 1920px;
    height: 1500;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
}

body p {
    margin: 0px;
    color: white;
}

.background {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.background img {
    filter: blur(0px);
    width: 2844.44px;
    height: 1500px;
}

.left,
.right {
    background-color: rgb(45 129 230 / 29%);
}

.left {
    width: 36.5%;
    height: fit-content;
    padding-bottom: 18px;
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    left: 3.8%;
    top: 7%;
    transform: perspective(600px) rotateY(3.5deg);
    backdrop-filter: blur(20px);
}

.Player_Info {
    width: 100%;
    height: 31.5px;
    margin-bottom: 0.8%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 2;
    background: #3081b8;
    box-shadow: 0px 0px 1px 2px #3081b8;
}

.Player_Info p {
    font-size: 17px;
    color: white;
    transform: scaleY(1.5);
    margin-left: 2%;
}

.Player_Info-after {
    position: absolute;
    top: 2%;
    left: 1%;
    height: 16.5px;
    width: 680px;
    background: #3081b8aa;
    transform-origin: center center;
    box-shadow: 0 0 4px 5px #3081b8aa;
    z-index: 1;
}

.basic-box {
    width: 100%;
    height: 408px;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    position: relative;
}

.basic-img {
    width: 100%;
    height: 87%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.basic-img img {
    width: 100%;
}

.avatar {
    position: absolute;
    left: 0;
    bottom: 54px;
    width: 128px;
    height: 128px;
    display: flex;
    border: 5px solid;
    border-color: grey;
    height: min-content;
}

.avatar img {
    width: 100%;
}

.Player_Id {
    display: flex;
    width: 101%;
    height: 13%;
    background: #87ceeb29;
}

.Player_Id p {
    color: white;
    font-size: 27px;
}

.Player_Id-left {
    width: 11%;
    padding-right: 2%;
    margin-left: 1%;
    background-color: #3081b8aa;
    display: flex;
    align-items: center;
    clip-path: polygon(0% 0%, 100% 0%, 81% 100%, 0% 100%, 0px 0px);
    justify-content: center;
}

.Player_Id-left p {
    font-size: 35px;
}

.Player_Id-right {
    width: 83%;
    height: 100%;
    display: flex;
    align-items: center;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 2.8% 0%);
    padding-left: 4%;
    margin-left: -1.5%;
    background-color: #87ceeb3d;
}

.Player_detail {
    width: 98%;
    height: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 3.5%;
    border-bottom: 3px solid #ffffff80;
}

.Player_detail-left {
    width: 19%;
    height: 100%;
    background-color: #ffffff80;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Player_detail-left p {
    font-size: 20px;
    transform: scaleX(0.7);
    color: #23618b;
}

.Player_data_line {
    display: flex;
    width: 98%;
    height: 116px;
    justify-content: center;
    flex-direction: row;
    margin-top: 2%;
}

.Player_data_line-left,
.Player_data_line-right {
    display: flex;
    width: 44%;
    background-color: rgba(135, 207, 235, 0.5);
    flex-direction: column;
}

.Player_data_line-left {
    padding-right: 6%;
    padding-left: 1.5%;
    clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 0% 100%, 0% 0%);
}

.Player_data_line-right {
    padding-left: 6%;
    padding-right: 1%;
    margin-left: -2.5%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 10% 0%);
}

#Player_data_left {
    filter: drop-shadow(5px -2px 0px rgba(255, 255, 255, 0.2));
}

#Player_data_right {
    filter: drop-shadow(-3px -2px 0px rgba(255, 255, 255, 0.2));
}

.Player_data_title {
    display: flex;
    width: 100%;
    height: 20%;
    align-items: center;
    margin-top: 4%;
    flex-direction: row;
}

.Player_data_title p {
    font-size: 28px;
}

.Player_data_value {
    display: flex;
    width: 100%;
    height: 50%;
    align-items: center;
    margin-top: 5%;
}

.Player_data_value p {
    font-size: 61px;
}

.Challenge {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    color: white;
    text-shadow: 0 0 20px #ffffff;
}

.Challenge img {
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-left: 0;
    border-radius: 0px;
    margin-bottom: -65%;
}

#Challenge1 {
    width: 100px;
    height: 50px;
    right: 7%;
    font-size: 40px;
    top: 520px;
}

#Challenge2 {
    width: 150px;
    height: 75px;
    right: 23%;
    top: 558px;
    font-size: 60px;
}

.Player_data_box {
    display: flex;
    width: 94%;
    height: auto;
    padding-left: 2%;
    padding-right: 2%;
    background-color: rgb(74 188 233 / 40%);
    margin-top: 2.5%;
    border: #7aa8bb69 2px solid;
    flex-direction: column;
}

#data_box {
    height: 165.5px;
}

.Player_box_title {
    display: flex;
    width: 100%;
    height: 20%;
    align-items: center;
    margin-top: 4%;
    flex-direction: row;
    margin-top: 2%;
    filter: drop-shadow(5px -2px 0px rgba(255, 255, 255, 0.2));
}

.Player_box_title p {
    font-size: 40px;
}

.Player_box_value {
    display: flex;
    width: 100%;
    height: 80%;
    align-items: center;
    margin-top: 0%;
    filter: drop-shadow(-3px -2px 0px rgba(255, 255, 255, 0.2));
}

.Player_box_value p {
    font-size: 60px;
}

#profile {
    filter: drop-shadow(5px -2px 0px rgba(255, 255, 255, 0.2));
    max-height: 500px;
}

#profile font {
    font-size: 20px;
    margin: 0;
    width: 100%;
    word-break: break-word;
}

.right {
    width: 51.2%;
    height: 87%;
    padding-bottom: 18px;
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    right: 6.2%;
    top: 7%;
    transform: perspective(600px) rotateY(-2.3deg);
    backdrop-filter: blur(20px);
}

.file-content {
    background-color: rgba(0, 191, 255, 0.3);
    width: 101.3%;
    height: 35;
    display: flex;
    margin-top: -0.1%;
    z-index: 1;
    margin-bottom: 1%;
}

.file-content-left {
    background-color: rgba(0, 191, 255, 1);
    width: 14%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 1%;
    clip-path: polygon(92% 0%, 100% 50%, 92% 100%, 0 100%, 0% 0%);
}

.file-content-left p {
    font-size: 22px;
    color: #fff;
    transform: scaleX(0.78);
}

.progress_bar-out {
    background-color: rgba(0, 191, 255, 0.1);
    width: 90%;
    margin-left: -1%;
    padding-left: 1%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.data_title {
    width: 93%;
    height: 34px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.5%;
    border-bottom: 3px solid #ffffff80;
}

.data_title-left {
    width: AUTO;
    height: 100%;
    background-color: #ffffff80;
    display: flex;
    align-items: center;
    justify-content: center;
}

.data_title-left p {
    font-size: 20px;
    color: rgb(30 60 82);
    font-weight: 800;
    margin-left: 10px;
    margin-right: 10px;
}

.line {
    width: 100%;
    height: 170px;
    filter: drop-shadow(0px 0px 2px white);
}

.line svg {
    width: 100%;
    height: 100%;
    color: white;
    stroke: currentColor;
    stroke-width: 2.5px;
    overflow: visible;
    transform: scaleY(-1);
}

circle {
    stroke: currentColor;
    stroke-width: 0px;
    fill: #ffffff;
}

.line line {
    marker-start: url(#dot)
}

.line line:last-child {
    marker-end: url(#dot)
}

.svg-box {
    padding: 10px;
    border: skyblue 1px solid;
    background-color: rgb(22 60 75 / 40%);
    width: 90.8%;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.svg-box p {
    text-shadow:
        0 0 1px #d8f9ffab,
        1px 0 2px #d8f9ffab,
        -1px 0 2px #d8f9ffab,
        1px 0 5px #d8f9ffab,
        -1px 0 10px #d8f9ffab;
    margin-left: 5%;
    font-size: 100px;
    color: white;
}

.line-box {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
}

.value_box {
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.value_box p {
    font-size: 18px;
}

.date_box {
    width: 100%;
    display: flex;
    align-items: center;
    bottom: 20;
    flex-direction: row;
    justify-content: space-between;
}

.date_box p {
    font-size: 12px;
    margin: 0;
}

.stats-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: auto;
    width: 93%;
    justify-content: space-between;
}

.one-stats-box {
    width: 47%;
    height: 267px;
    margin-top: 20px;
    border: 1px solid;
    border-color: skyblue;
    background: rgb(22 60 75 / 40%);
    display: flex;
    padding: 3;
    flex-direction: column;
    position: relative;
}

.rank {
    height: 90;
    transform: skew(-13deg);
    display: flex;
    align-items: center;
    z-index: 1;
    position: absolute;
    bottom: 10;
    right: 30;
}

.rank p {
    font-size: 73px;
    color: rgba(255, 255, 255, 0.2);
    margin-top: -5%;
}

.Rating {
    height: 71px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 2;
}

.Rating p {
    font-size: 60px;
    text-shadow: 0 0 20px #ffffff;
}

.Rating img {
    height: 100%;
}

.stats-up {
    width: 100%;
    height: 45%;
    display: flex;
    align-items: center;
}

.stats-group {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
}

.stats-group-real {
    height: 100%;
    display: flex;
    align-items: center;
}

.stats-group-real p {
    font-size: 40px;
    color: white;
}

.stats-group-tot {
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.stats-group-tot p {
    font-size: 24px;
    color: #ababab;
}

.stats-rating-group {
    display: flex;
    width: 370px;
    height: 86px;
    left: 330px;
    top: 35px;
    align-items: center;
    justify-content: space-around;
}

.rating-group {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rating-value {
    display: flex;
    height: 60%;
    align-items: center;
    justify-content: center;
}

.rating-value p {
    font-size: 39px;
}

.rating-tatle {
    display: flex;
    height: 10%;
    align-items: center;
    justify-content: center;
}

.rating-tatle p {
    font-size: 18px;
    color: #ababab;
}

.stats-score {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    height: 90;
}

.file-content,
.data_title,
.svg-box,
.stats-box {
    filter: drop-shadow(5px -2px 0px rgba(100, 203, 255, 0.438));
}

.createdbox {
    margin-top: 60px;
    margin-bottom: 30px;
}

.phi-plugin p {
    font-size: 76px;
    text-shadow: 0 0 20px rgb(0 186 255);
}

.ver p {
    font-size: 40px;
    text-shadow: 0 0 20px #fff700;
}