@import "./snow.css";

@font-face {
    font-family: 'åžå¼¥æ°ä¿Š';
    src: url("./font/åžå¼¥æ°ä¿Š.ttf") format('truetype');
}

@font-face {
    font-family: 'PHI';
    src: url("./font/phi.ttf") format('truetype');
}

@font-face {
    font-family: 'HIMALAYA';
    src: url("./font/HIMALAYA.TTF") format('truetype');
}

@font-face {
    font-family: 'NOTO';
    src: url("./font/NotoSans-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'NotoSansSymbols2';
    src: url("./font/NotoSansSymbols2.ttf") format('truetype');
}

@font-face {
    font-family: 'NotoSansArabic';
    src: url("./font/NotoSansArabic.ttf") format('truetype');
}

@font-face {
    font-family: 'NotoSansJP';
    src: url("./font/NotoSansJP.ttf") format('truetype');
}

@font-face {
    font-family: 'Aldrich';
    src: url("./font/Aldrich-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'NotoSansKannada';
    src: url("./font/NotoSansKannada.ttf") format('truetype');
}

@font-face {
    font-family: 'NotoSansCanadianAboriginal';
    src: url("./font/NotoSansCanadianAboriginal.ttf") format('truetype');
}

@font-face {
    font-family: 'NotoColorEmoji-Regular';
    src: url("./font/NotoColorEmoji-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'NotoSansMath-Regular';
    src: url("./font/NotoSansMath-Regular.ttf") format('truetype');
}

:root {
    --AT: #6e6e6e;
    --IN: #ff0000;
    --HD: #00b0f0;
    --EZ: #92d050;
    --tap: skyblue;
    --drag: gold;
    --hold: #29b0e6;
    --flicke: pink;
}

body {
    font-family: 'PHI', 'NotoSansArabic', 'NotoSansSymbols2', 'NOTO', 'NotoSansJP', 'NotoSansKannada', 'NotoSansCanadianAboriginal', 'NotoColorEmoji-Regular', 'HIMALAYA', 'åžå¼¥æ°ä¿Š', 'NotoSansMath-Regular';
    margin: 0;
    background: url('../otherimg/phigros.png') center no-repeat;
    background-size: cover;
    background-position: center;
    transform-origin: top left;
    position: absolute;
}

body p {
    margin: 0;
}

.background {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    overflow: hidden;
    z-index: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: -1;
}

.background img {
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    overflow: hidden;
    transform: scale(1.2);
    filter: blur(20px) brightness(75%);
    z-index: -1;
}

.createdbox {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    writing-mode: horizontal-tb;
    justify-content: center;
}

.createdbox p {
    color: white;
    font-size: 70px;
    font-family: 'Aldrich', 'PHI';
}

.phi-plugin {
    display: flex;
    z-index: 1;
    justify-content: center;
    align-items: center;
}

.ver {
    display: flex;
    z-index: 1;
}

.phi-plugin p {
    font-size: 80px;
    text-shadow: 0 0 20px rgb(0 186 255);
}

.ver p {
    font-size: 40px;
    text-shadow: 0 0 20px #fff700;
}

.tips {
    position: absolute;
    bottom: 0px;
    left: 5px;
    writing-mode: horizontal-tb;
}

.tips p {
    font-size: 14px;
}

.colorful p {
    /* width: 100%; */
    background-image:
        -webkit-gradient(linear, left top, right top, color-stop(0, #f22),
            color-stop(1, #2ff),
            color-stop(0.8, #2f2),
            color-stop(0.6, #2f2),
            color-stop(0.4, #ff2),
            color-stop(0.2, #f92),
            color-stop(0, #f22));
    color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -ms-background-clip: text
}

.common_ill {
    clip-path: polygon(100% 0, 81.844% 100%, 0 100%, 18.156% 0);
    overflow: hidden;
}

.Challenge {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    color: white;
    /* text-shadow: 0 0 20px #ffffff; */
}

.Challenge img {
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-left: 0;
    border-radius: 0px;
    margin-bottom: -65%;
}

.ill-clip {
    clip-path: polygon(100% 0, 81.844% 100%, 0 100%, 18.156% 0);
}