@import "../common/common.css";

body {
    flex-direction: column;
    display: flex;
    width: 800px;
    height: fit-content;
    font-family: 'PHI', 'HIMALAYA', '吞弥恰俊';
    align-items: center;
    color: white;
    margin: 0px;
    position: relative;
}

body p {
    color: white;
    margin: 0px;
    margin-block: 0;
    margin-inline: 0;
}

.head_title {
    display: flex;
    width: 94%;
    margin: 20px;
    justify-content: center;
    align-items: center;
}

.head_title p {
    font-size: 50px;
    text-shadow: 0 0 20px rgb(0 186 255);
    font-family: 'Aldrich', 'PHI';
    color: white;
}

.background img {
    height: 100%;
    min-width: 100%;
    /* filter: blur(100px) brightness(75%); */
}

.num,
.title,
.dif,
.left,
.right,
.rks {
    backdrop-filter: blur(30px);
}

.list_box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    z-index: 1;
    overflow: auto;
    flex-wrap: wrap;
    align-content: center;
    /* margin-top: 100px; */
    margin-bottom: 100px;
}

.line {
    display: flex;
    flex-direction: row;
    justify-content: center;
    FONT-VARIANT: JIS04;
    width: 29%;
    height: 60px;
    margin-bottom: 2.5%;
    background-color: #00151d54;
    backdrop-filter: blur(10px);
    border-radius: 3px;
    overflow: hidden;
}

.song_name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    color: white;
    font-size: 10px;
    white-space: nowrap;
    position: absolute;
    backdrop-filter: blur(10px);
    z-index: 1;
}

.num,
.song,
.dif {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.num {
    text-align: center;
    width: 10%;
    background-color: #4a7aa1cc;
}

.song {
    width: 80%;
    background-color: #00000088;
}

.dif {
    width: 10%;
}

.LEGACY {
    background: #7700ff88;
}

.AT {
    background: #9c9c9c88;
}

.IN {
    background: #ff616188;
}

.HD {
    background: #009dff88;
}

.EZ {
    background: #7ae07a88;
}

.ill_box {
    height: 100%;
}

.ill_box img {
    height: 100%;
    min-height: 100%;
    min-width: 100%;
}

.info_box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 51%;
    height: 100%;
    backdrop-filter: blur(10px);
}


.down {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
    width: 97%;
}

.acc {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 40%;
    position: relative;
    background: #87ceeb69;
    overflow: hidden;
    border-radius: 2px;
    /* border: skyblue 1px solid; */
    font-size: 9px;
    box-sizing: border-box;
}

.suggest {
    color: greenyellow;
}

.score_rating {
    display: flex;
    height: 40%;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.score {
    width: 70%;
    overflow: hidden;
    border-radius: 2px;
    /* border: skyblue 1px solid; */
    height: 100%;
    font-size: 15px;
    display: flex;
    background: #87ceeb69;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
}

.rating {
    display: flex;
    height: 100%;
    width: 30%;
    justify-content: center;
}

.rating img {
    height: 100%;
}

.createdbox {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    writing-mode: horizontal-tb;
    justify-content: center;
    position: absolute;
    bottom: 45px;
}

.createdbox p {
    color: white;
    font-size: 70px;
    font-family: 'Aldrich', 'PHI';
}

.phi-plugin {
    display: flex;
    z-index: 1;
    justify-content: center;
    align-items: center;
}

.ver {
    display: flex;
    z-index: 1;
}

.phi-plugin p {
    font-size: 30px;
    text-shadow: 0 0 20px rgb(0 186 255);
}

.ver p {
    font-size: 16px;
    text-shadow: 0 0 20px #fff700;
}