@font-face {
    font-family: '吞弥恰俊';
    src: url("./font/吞弥恰俊.ttf") format('truetype');
}

@font-face {
    font-family: 'PHI';
    src: url("./font/phi.ttf") format('truetype');
}

@font-face {
    font-family: 'HIMALAYA';
    src: url("./font/HIMALAYA.TTF") format('truetype');
}

@font-face {
    font-family: 'Aldrich';
    src: url("./font/Aldrich-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'NOTO';
    src: url("./font/NotoSans-Regular.ttf") format('truetype');
}

body {
    font-family: 'PHI', 'HIMALAYA', 'Aldrich', PingFangSC-Medium, "PingFang SC", sans-serif, 'NOTO', '吞弥恰俊';
    margin: 0;
    background: url('../otherimg/phigros.png') center no-repeat;
    background-size: cover;
}

.createdbox {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    writing-mode: horizontal-tb;
    justify-content: center;
}

.createdbox p {
    color: white;
    font-size: 70px;
    font-family: 'Aldrich', 'PHI';
}

.phi-plugin {
    display: flex;
    z-index: 1;
    justify-content: center;
    align-items: center;
}

.ver {
    display: flex;
    z-index: 1;
}

.phi-plugin p {
    font-size: 80px;
    text-shadow: 0 0 20px rgb(0 186 255);
}

.ver p {
    font-size: 40px;
    text-shadow: 0 0 20px #fff700;
}