.song_Id {
    width: 102%;
    height: 40;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0079ab66;
}

.data_score {
    position: relative;
    display: flex;
    width: inherit;
    justify-content: center;
}

.data_score p {
    font-size: 70px;
}

.data_mid {
    display: flex;
    height: 33%;
    align-items: center;
    justify-content: space-around;
}

.data_rks {
    height: 100%;
    display: flex;
    align-items: center;
}

.data_acc {
    height: 100%;
    display: flex;
}

.data_rks p,.data_acc p {
    font-size: 50px;
}

.data_bottom {
    display: flex;
}

.data_suggest {
    display: flex;
}
