body {
    width: 2400px;
    background-color: black;
}

.left {
    width: 25%;
    transform: perspective(600px) rotateY(6deg);
    left: 2.5%;
}

.file-content, .data_title, .svg-box, .stats-box {
    filter: drop-shadow(0 4px 1px #ffffff6c);
}

.right {
    transform: scale(0.94);
    margin-left: -10%;
    left: 37%;
    right: unset;
    width: 46%;
}

.ranklist {
    width: 25%;
    background-color: #1b4d8a8a;
    /* backdrop-filter: blur(50px); */
    height: 1100px;
    padding-bottom: 0px;
    transform: perspective(600px) rotateY(-6deg);
    position: absolute;
    right: 3%;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(10px);
}

.ranklist > * {
    filter: drop-shadow(-1px 4px 0px #ffffff33);
}

.ranking {
    position: absolute;
    top: -26%;
    left: -0.35%;
    height: 25%;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.ranking p:nth-child(1) {
    font-size: 19px;
    color: #ffffff;
    text-shadow: 0 0 3px black;
    background-color: skyblue;
    padding: 0 5px;
}

.ranking p:nth-child(2) {
    font-size: 15px;
    color: #ffffff;
    margin-left: 15px;
}

.Player_Info {
    filter: none;
}

.selected {
    width: 100%;
    height: 3%;
    display: flex;
    justify-content: space-between;
}

.selected p {
    font-size: 37px;
    text-align: right;
    color: #d2f2ff;
}

.phi-plugin p {
    font-size: 70px;
}

.ver p {
    font-size: 35px;
}

.rankUser {
    height: 7%;
    display: flex;
    padding: 0.5%;
    box-sizing: border-box;
    border: solid 2px skyblue;
    align-items: center;
    margin-top: 6%;
}

.rankUserMe {
    background-color: #87ceeb38;
}

.rankUserInfo {
    width: 45%;
    height: 100%;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rankUserAvatar {
    height: 100%;
}

.rankUserAvatar img {
    height: 100%;
}

.rankUserName {
    /* margin-top: 8; */
    height: 70%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.rankUserName p {
    font-size: 40px;
}

.rankUserRks {
    /* margin-left: 5px; */
    height: 30%;
    display: flex;
    align-items: center;
}

.rankUserRks p {
    font-size: 21px;
}

.rankUserClg .Challenge {
    width: 56px;
    font-size: 23px;
    top: 57%;
    left: 36%;
}

.rankUserScore {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 29%;
    height: 80%;
    align-items: center;
    justify-content: space-around;
    border-left: solid 2px #87ceeb38;
    border-right: solid 2px #87ceeb38;
}

.rankUserScoreRating {
    height: 88%;
    width: 11.9%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.rankUserScoreRating img {
    height: 100%;
}

.rankUserScoreAcc,
.rankUserScoreValue {
    display: flex;
    align-items: center;
}

.rankUserScoreAcc {
    height: 30%;
}

.rankUserScoreAcc p {
    font-size: 20px;
}

.rankUserScoreValue {
    height: 40%;
}

.rankUserScoreValue p {
    font-size: 31px;
}
