@import '../common/common.css';

body {
    width: 800px;
}

.background img {
    filter: blur(3px) brightness(75%);
}

.big-title {
    display: flex;
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: center;
}

.big-title p {
    font-size: 32px;
    text-shadow: 0 0 20px rgb(0 186 255);
    font-family: 'Aldrich', 'PHI';
    color: white;
}

.box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lineBox {
    width: 90%;
    margin: 1px;
    clip-path: polygon(0 50%, 2% 0, 98% 0, 100% 50%, 98% 100%, 2% 100%);
}

.line {
    width: 100%;
    display: flex;
    background: #000000cc;
    backdrop-filter: blur(10px);
    position: relative;
    display: flex;
    align-items: center;
}

.line p {
    color: white;
    margin: 0;
}

.square {
    height: 25px;
    width: 15px;
    clip-path: polygon(0 50%, 50% 0, 100% 50%, 50% 100%);
    background: white;
    margin: 10px;
}

.title {
    height: 24px;
}

.title p {
    font-size: 20px;
}

.info p {
    font-size: 11px;
    color: #e2e2e2;
}

.right {
    display: flex;
    position: absolute;
    right: 10px;
    height: 100%;
    width: 110px;
    align-items: center;
    justify-content: flex-start;
}

.drc {
    width: max-content;
}

.space {
    width: 65px;
    height: 25px;
    padding-left: 7px;
    padding-right: 7px;
    background: #ffffff;
    clip-path: polygon(0 50%, 11% 0, 89% 0, 100% 50%, 89% 100%, 11% 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 4px;
    position: relative;
}

.space p {
    font-size: 15px;
    color: black;
    margin: 0;
}

.switch-true,
.switch-false {
    height: 25px;
    width: 35px;
    clip-path: polygon(0 50%, 25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%);
    background: #00000088;
    position: absolute;
}

.switch-true {
    right: 4px;
}

.switch-false {
    left: 4px;
}

.switchDrc-true,
.switchDrc-false {
    position: absolute;
    width: 34px;
    display: flex;
    justify-content: center;
}

.switchDrc-false {
    right: 4px;
}

.switchDrc-true {
    left: 4px;
}

.divider .line {
    background: none;
}

.divider .title {
    height: auto;
}

.divider .line {
    background: #ffffffcc;
    /* border-top: 2px solid; */
}

.divider .square {
    background: #000000;
}

.divider p {
    color: #000000;
}

.phi-plugin p {
    font-size: 30px;
}

.ver p {
    font-size: 20px;
}