.topTextBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.topTextBox p {
    position: absolute;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    color: white;
    white-space: nowrap;
}
