
{{block 'css'}}


<head>
    <link rel="stylesheet" href="{{_res_path}}atlas/atlas.css">
    
</head>

    {{/block}}

{{block 'main'}}
    <div class="background">
        <img src="{{illustration}}" alt="曲绘-模糊">
    </div>
    <div class="big-box">
        <div class="box">
            <div class="info-box">
                <div class="name-box">
                    <div class="song">
                        <p style="font-size: {{fontsize}}px;">{{song}}</p>
                        <!-- <p style="font-size: 45px;">{{song}}</p> -->
                    </div>
                    <div class="composer">
                        <p>{{composer}}</p>
                    </div>
                </div>
                <div class="charts-box">
                    <div class="length">
                        <p>{{length}}</p>
                    </div>
                    <div class="txt">
                        <div class="sqrt">
                            <p>SONG'S_INFO</p>
                        </div>
                        <div class="line">
                        </div>
                    </div>
                    <div class="common">
                        <p>Illustrator: {{illustrator}}</p>
                        <p>Bpm:&ensp;{{bpm}}&ensp;&ensp;&ensp;&ensp;Chapter:&ensp;{{chapter}}</p>
                        <p>Charts:</p>
                    </div>
                    <div class="chart">
                        {{if or}}
                        <div class="up">
                            <p style="color: rgb({{or.r}}, {{or.g}}, {{or.b}});">{{or.chart}}&ensp;</p>
                            <p>&ensp;{{or.difficulty}}&ensp;</p>
                            <p>&ensp;{{or.combo}}&ensp;Combo</p>
                        </div>
                        <p>Charter:&ensp;{{or.charter}}</p>
                        {{/if}}
                        {{if SP}}
                        <div class="up">
                            <p style="color: rgb(0, 0, 0);">SP&ensp;</p>
                            <p>&ensp;{{SP.difficulty}}&ensp;</p>
                            <p>&ensp;{{SP.combo}}&ensp;Combo</p>
                        </div>
                        <p>Charter:&ensp;{{SP.charter}}</p>
                        {{/if}}
                        {{if AT}}
                        <div class="up">
                            <p style="color: rgb(213, 213, 213);">AT&ensp;</p>
                            <p>&ensp;{{AT.difficulty}}&ensp;</p>
                            <p>&ensp;{{AT.combo}}&ensp;Combo</p>
                        </div>
                        <p>Charter:&ensp;{{AT.charter}}</p>
                        {{/if}}
                        {{if IN}}
                        <div class="up">
                            <p style="color: rgb(255, 159, 159);">IN&ensp;</p>
                            <p>&ensp;{{IN.difficulty}}&ensp;</p>
                            <p>&ensp;{{IN.combo}}&ensp;Combo</p>
                        </div>
                        <p>Charter:&ensp;{{IN.charter}}</p>
                        {{/if}}
                        {{if HD}}
                        <div class="up">
                            <p style="color: rgb(165, 187, 227);">HD&ensp;</p>
                            <p>&ensp;{{HD.difficulty}}&ensp;</p>
                            <p>&ensp;{{HD.combo}}&ensp;Combo</p>
                        </div>
                        <p>Charter:&ensp;{{HD.charter}}</p>
                        {{/if}}
                        {{if EZ}}
                        <div class="up">
                            <p style="color: rgb(192, 221, 173);">EZ&ensp;</p>
                            <p>&ensp;{{EZ.difficulty}}&ensp;</p>
                            <p>&ensp;{{EZ.combo}}&ensp;Combo</p>
                        </div>
                        <p>Charter:&ensp;{{EZ.charter}}</p>
                        {{/if}}
                        
                    </div>
                    {{if othermsg}}
                    <div class="common">
                        <p>{{othermsg}}</p>
                    </div>
                    {{/if}}
                </div>
            </div>
            <div class="ill-box">
                <img src="{{illustration}}" alt="曲绘">
            </div>
        </div>
        <div class="leave">
            <div class="leave-box">
                {{if EZ}}
                <div class="leave-ez">
                    <p style="margin-left: 3px;">{{EZ.difficulty}}</p>
                    <p style="font-size: 15px; margin-right: 13px;">EZ</p>
                </div>
                {{/if}}
                {{if HD}}
                <div class="leave-hd">
                    <p style="margin-left: 3px;">{{HD.difficulty}}</p>
                    <p style="font-size: 15px; margin-right: 13px;">HD</p>
                </div>
                {{/if}}
                {{if IN}}
                <div class="leave-in">
                    <p style="margin-left: 3px;">{{IN.difficulty}}</p>
                    <p style="font-size: 15px; margin-right: 13px;">IN</p>
                </div>
                {{/if}}
                {{if AT}}
                <div class="leave-at">
                    <p style="margin-left: 3px;">{{IN.difficulty}}</p>
                    <p style="font-size: 15px; margin-right: 13px;">AT</p>
                </div>
                {{/if}}
                {{if SP}}
                <div class="leave-sp">
                    <p style="margin-left: 3px;">?</p>
                    <p style="font-size: 15px; margin-right: 13px;">SP</p>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
    <div class="createdbox">
        <div class="created">
            <p style="float: left;">Created By Yunzai-Bot &nbsp; </p>
            <p style="float: left; color: yellow;">{{Version.yunzai}}</p>
            <p style="float: left;"> &nbsp; &amp; phi-Plugin &nbsp;</p>
            <p style="float: left; color: yellow;">{{Version.ver}}</p>
        </div>

    </div>
{{/block}}