@font-face {
    font-family: 'PHI';
    src: url("../common/font/phi.ttf") format('woff'), url("../common/font/phi.ttf") format('truetype');
}

body {
    height: 1080px;
    width: 2048px;
    margin: 0;
    font-family: PHI;
}


.background {
    display: flex;
    height: 1080px;
    width: 2048px;
    margin-bottom: -1080px;
    overflow: hidden;
    z-index: 0;
}

.background img {
    width: 100%;
    position: relative;
    filter: blur(40px) brightness(75%);
    z-index: 0;
}

.box {
    display: flex;
    width: 1736px;
    height: 659px;
    justify-content: center;
    align-items: center;
    margin-top: 210px;
    margin-left: 157px;
    z-index: 1;
}

.box p {
    margin: 0;
    flex-direction: column;
}

.info-box {
    width: 1013px;
    height: auto;
    margin-right: -342px;
    z-index: 1;
}

.name-box {
    display: flex;
    height: 144px;
    width: 833px;
    background-color: rgba(0, 0, 0, 0.75);
    margin-left: 185px;
    -webkit-clip-path: polygon(36px 0px, 100% 0%, 100% 100%, 0% 100%, 36px 0px);
    flex-direction: column;
    z-index: 1;
}

.name-box .song {
    height: 88px;
    width: 555px;
    margin-left: 51px;
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.name-box .song p {
    color: white;
    font-size: 15px;
}

.name-box .composer {
    height: 50px;
    width: 538px;
    margin-left: 53px;
}

.name-box .composer p {
    color: white;
    font-size: 25px;
}

.charts-box {
    height: 359px;
    width: 1014px;
    background-color: rgba(0, 183, 240, 0.3);
    margin-top: 20px;
    border-left: 12px solid;
    border-color: rgb(0, 183, 240);
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.charts-box p {
    font-size: 15px;
}

.charts-box .length {
    margin-left: 20px;
    height: 64px;
    width: 100px;
}

.charts-box .length p {
    color: white;
    font-size: 30px;
    margin-top: 10px;
}

.charts-box .txt {
    height: 32px;
    display: flex;
    margin-left: 20px;
    align-items: flex-end;
}

.charts-box .txt .sqrt {
    height: 32px;
    width: 154px;
    display: flex;
    background-color: rgba(209, 209, 209, 0.75);
    justify-content: center;
    align-items: center;
}

.charts-box .txt .sqrt p {
    color: #000;
    font-size: 20px;
}

.charts-box .txt .line {
    height: 32px;
    width: 567px;
    border-bottom: 2px solid;
    border-color: rgba(209, 209, 209, 0.75);
}

.charts-box .txt .line p {
    color: #FFFFFF;
    font-size: 20px;
}

.charts-box .common {
    margin-left: 20px;
    width: 590px;
    height: auto;
}

.charts-box .common p {
    color: white;
}

.chart {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.up {
    display: flex;
    justify-content: space-between;
}


.chart p {
    color: white;
    width: fit-content;
}

.ill-box {
    display: flex;
    width: 1063px;
    height: 560px;
    filter: drop-shadow(0px 0px 30px #000);
    z-index: 2;
}

.ill-box img {
    height: 100%;
    -webkit-clip-path: polygon(139px 0px, 1063px 0px, 924px 560px, 0px 560px, 139px 0px);
    z-index: 2;
}