{{extend defaultLayout}}

{{block 'css'}}
<head>
    <link rel="stylesheet" href="{{_res_path}}atlas/atlas.css">
    
</head>

{{/block}}
{{block 'main'}}

{{if illustration}}
<style>
    body {
        background: url("{{illustration}}") white center top no-repeat;
        background-size: auto 200%;
    }
</style>
{{/if}}

<div class="box">
    <h1>{{song}}</h1>
    <hr noshade>
    <div class="tb">
        <!-- {{if illustration}}
        <img src="{{illustration}}" alt="曲绘">
        {{else}} -->
        <img src= "{{pluResPath}}/otherimg/phigros.png" alt="曲绘">
        <!-- {{/if}} -->
        <div class="header">
            <p>曲师：{{composer}}</p>
            <p>画师：{{illustrator}}</p>
            <p>章节：{{chapter}}</p>
            <p>时长：{{length}}</p>
            <p>bpm: {{bpm}}</p>
        </div>
    </div>
    <div class="tb">
        <div class="header">
            {{if AT}}
            <p>AT:{{AT["difficulty"]}}</p>
            {{/if}}
            {{if IN}}
            <p>IN:{{IN["difficulty"]}}</p>
            {{/if}}
            {{if HD}}
            <p>HD:{{HD["difficulty"]}}</p>
            {{/if}}
            {{if EZ}}
            <p>EZ:{{EZ["difficulty"]}}</p>
            {{/if}}
        </div>
        <div class="header">
            {{if AT}}
            <p>{{AT["combo"]}}combo</p>
            {{/if}}
            {{if IN}}
            <p>{{IN["combo"]}}combo</p>
            {{/if}}
            {{if HD}}
            <p>{{HD["combo"]}}combo</p>
            {{/if}}
            {{if EZ}}
            <p>{{EZ["combo"]}}combo</p>
            {{/if}}
        </div>
        <div class="header">
            {{if AT}}
            <p>chart by {{AT["charter"]}}</p>
            {{/if}}
            {{if IN}}
            <p>chart by {{IN["charter"]}}</p>
            {{/if}}
            {{if HD}}
            <p>chart by {{HD["charter"]}}</p>
            {{/if}}
            {{if EZ}}
            <p>chart by {{EZ["charter"]}}</p>
            {{/if}}
        </div>
    </div>

</div>
{{/block}}