{{block 'css'}}

<head>
    <link rel="stylesheet" href="{{_res_path}}atlas/atlas.css">
    
</head>

    {{/block}}

{{block 'main'}}
    <div class="background">
        <img src="{{illustration}}" alt="曲绘-模糊">
    </div>
    <div class="big-box">
        <div class="box">
            <div class="info-box">
                <div class="name-box">
                    <div class="song">
                        <p id="song-name" style="font-size: 20px;">{{song}}</p>
                        <!-- <p style="font-size: 45px;">{{song}}</p> -->
                    </div>
                    <div class="composer">
                        <p>{{composer}}</p>
                    </div>
                </div>
                <div class="charts-box">
                    <div class="length">
                        <p>{{length}}</p>
                    </div>
                    <div class="txt">
                        <div class="sqrt">
                            <p>SONG'S_INFO</p>
                        </div>
                        <div class="line">
                        </div>
                    </div>
                    <div class="common">
                        <p>Illustrator: {{illustrator}}</p>
                        <p>Bpm:&ensp;{{bpm}}&ensp;&ensp;&ensp;&ensp;Chapter:&ensp;{{chapter}}</p>
                        <p>Charts:</p>
                    </div>
                    <div class="chart">
                        {{each chart}}

                        <div class="up">
                        {{if $index == 'SP'}}
                            <p style="color: rgb(0, 0, 0);">SP&ensp;</p>
                        {{else if $index == 'AT'}}
                        <p style="color: rgb(213, 213, 213);">AT&ensp;</p>
                        {{else if $index == 'IN'}}
                            <p style="color: rgb(255, 159, 159);">IN&ensp;</p>
                        {{else if $index == 'HD'}}
                            <p style="color: rgb(165, 187, 227);">HD&ensp;</p>
                        {{else if $index == 'EZ'}}
                            <p style="color: rgb(192, 221, 173);">EZ&ensp;</p>
                        {{else}}
                            <p style="color: rgba({{$value.rgba}});">{{$index}}&ensp;</p>
                        {{/if}}
                            <p>&ensp;{{$value.difficulty}}&ensp;</p>
                            <p>&ensp;{{$value.combo}}&ensp;Notes</p>
                        </div>
                        <p>Charter:&ensp;{{$value.charter}}</p>
                        {{/each}}

                        
                    </div>
                    {{if othermsg}}
                    <div class="common">
                        <p>{{othermsg}}</p>
                    </div>
                    {{/if}}
                </div>
            </div>
            <div class="ill-box">
                <img src="{{illustration}}" alt="曲绘">
            </div>
        </div>
        <div class="leave">
            <div class="leave-box">
                {{each chart}}

                {{if $index == 'EZ'}}
                <div class="leave-ez">
                {{else if $index == 'HD'}}
                <div class="leave-hd">
                {{else if $index == 'IN'}}
                <div class="leave-in">
                {{else if $index == 'AT'}}
                <div class="leave-at">
                {{else if $index == 'SP'}}
                <div class="leave-sp">
                {{else}}
                <div class="leave-sp" style="background-color: rgba({{$value.rgba}});">
                {{/if}}
                    <p style="margin-left: 3px;">{{$value.difficulty}}</p>
                    <p style="font-size: 15px; margin-right: 13px;">{{$index}}</p>
                </div>

                {{/each}}
            </div>
        </div>
    </div>
    <div class="createdbox">
        <div class="phi-plugin">
            <p>Phi-Plugin</p>
        </div>
        <div class="ver">
            <p>{{Version.ver}}</p>
        </div>

    </div>

    <!-- 曲目名称自适应name-box的宽度 -->
    <script>
        function adjustFontSize() {
            //获取song-name和composer滴元素
            var songName = document.getElementById('song-name')

            /*调整曲目名称字体大小*/
            var parentWidth = songName.parentNode.offsetWidth
            var maxFontSize = 49 //设置最大字体大小
    
            //如果字体宽度小于父元素宽度，则增大字体大小
            while (songName.scrollWidth < parentWidth) {
                var style = window.getComputedStyle(songName, null).getPropertyValue('font-size')
                var fontSize = parseFloat(style)
    
                //检查是否已经达到最大字体大小
                if (fontSize >= maxFontSize) {
                    break
                }
    
                songName.style.fontSize = (fontSize + 1) + "px"
            }
    
            // 如果字体宽度大于父元素宽度，则减小字体大小
            while (songName.scrollWidth > parentWidth) {
                var style = window.getComputedStyle(songName, null).getPropertyValue('font-size')
                var fontSize = parseFloat(style);
                songName.style.fontSize = (fontSize - 1) + "px";
            }

        }
        window.onload = adjustFontSize
        window.onresize = adjustFontSize
    </script>
{{/block}}